[2013-11-13 22:32] dmitrippp opened #1 "Breaks placeholder functionality"
Thank you very much for creating this wonderful plugin. There is an issue with the placeholder of the medium-editor plugin when the images plugin is activated. When you write some text and then delete the text, the placeholder does not come back.

If you could take a look at it whenever you have some free time, it would be greatly appreciated.

[2013-12-03 08:32] arol opened #2 "Avoid plugin elements on serialize"
How can I get the content of the editor without the divs inserted by the plugin?

I mean, I can get the output and replace the divs, but I think it have to be a plugin's responsibility. I'm not so familiarized with well written js, it's possible to override mediumEditor's `serialize` function to parse its returned value?

[2013-12-04 14:39] #1 closed, assigned to nobody

[2013-12-04 14:39] #2 closed, assigned to nobody

[2013-12-05 03:26] abitdodgy opened #3 "Add support for image modes in Medium 1.0"
Medium recently revamped their image uploads. They've introduced a toolbar with several image modes.

You can now include inline images in two sizes, floated inline images (floats to the left of text), floated inline images that are offset to the left, and cover images which cover the whole screen.

![screen shot 2013-12-05 at 01 08 44](https://f.cloud.github.com/assets/545430/1679810/ea0c6e06-5d5

[2013-12-06 11:34] #3 closed, assigned to nobody

[2013-12-09 17:04] royletron opened #6 "Medium editor stops working after image insert"
Once an image has been inserted into the document the Medium editor no longer appears when selecting text. Tested it on the example page and it is the same in Chrome and Firefox.

[2013-12-12 13:14] #6 closed, assigned to nobody

[2013-12-13 01:28] jianming opened #9 "div is not editable if the inside paragraph is empty"
If you have div like this:
 <div class='editable' ...><p></p></div>

There will be no way to have focus on the editable div. It does not work even with space in between:

<div class="editable" ....><p>    </p></div>

[2013-12-13 01:30] jianming opened #10 "can not create a new paragraph after the inserted image"
If you insert an image, you cannot add a new paragraph after it. You can not get the focus point after the image.

You have to create new paragraph first, then insert image in the previous paragraph.

[2013-12-13 07:45] #10 closed, assigned to nobody

[2013-12-13 07:46] #9 closed, assigned to nobody

[2013-12-13 16:26] miloshadzic opened #11 "Should be possible to pass the function that uploades files to the server"
Currently it's pretty hard too pass in more parameters and also harder to work with an api in rails that needs authentication. I'm working on a patch to make it possible to plug in a function that uploads the file but wanted to see if you had any plans for this feature.

I was thinking about an interface like this:

[code]

Then that function would be called in the loop in uploadFiles.

What do yo

[2013-12-16 21:01] #11 closed, assigned to nobody

[2013-12-19 14:44] miloshadzic opened #13 "Way to disable the plugin"
Medium editor supports enable/disable but even when disabled the image plugin is active.

What would be a good way to achieve this?

[2013-12-23 21:00] NetOpWibby opened #15 "FilePicker Support"
Hi there,

I like this plugin, it's pretty neat. I notice that the demo comes with a PHP file to handle image uploads. However, I am using Filepicker.io. Would anyone be able to point me in the right direction to make this work for me?

[2014-01-05 02:30] ironwren opened #16 "Images previously in the medium editor on init do not have a resize and delete button"
I already have a branch for this, but as this being my first open source project I'm not sure how to push a new branch and create a PR from it.

[2014-01-10 13:01] #16 closed, assigned to nobody

[2014-01-20 22:15] maxkirchoff opened #19 "Multiple 'mediumInsert-X' IDs being created with same X value"
Noticed in line 175 of medium-editor-insert-plugin.js this:
`$(this).next('.mediumInsert').attr('id', 'mediumInsert-'+ i);`

It was causing multiple elements to be able to be created with the same id.

I removed the line in my repo and cannot find any reason for it to exist.

Am I missing anything? Should I just remove it and submit PR?

[2014-01-24 13:42] #13 closed, assigned to nobody

[2014-02-05 14:22] dodyg opened #21 "Polluted content"
After using this plugin, the content inside the editor gets polluted by

[code]

So right now I cannot use $('#editor').html() to obtain the content of the edtior. Is there anyway to solve this issue?

[2014-02-05 14:39] #21 closed, assigned to nobody

[2014-03-04 11:50] Muhammed-A opened #22 "'Insert Link' disappear after adding 'overflow-y:scroll' attribute to ' div editor' style"
plugin not work after adding 'overflow-y:scroll'  attribute to  'div editor' style

[2014-03-05 00:48] #22 closed, assigned to nobody

[2014-03-14 12:40] ScotsScripts opened #23 "How do you get rid of the mediumInsert div tags?"
This is more of a question than an issue, but I'm unable to contact you any other way.

I'm pretty new at javascript and jquery, so I'm probably missing something obvious.

I have medium editor working and I have medium insert working.  I take the contenteditable area with an id of "content" and use jquery to turn it into a variable I can work with like this:

[code]

The problem is that content n

[2014-03-14 12:45] #23 closed, assigned to nobody

[2014-03-15 12:03] ScotsScripts opened #24 "Can't add more text if you insert an image at the bottom of the contenteditable area"
Is there any way to start typing more text after inserting an image at the bottom of the editable area?  I tried to put the cursor to the right of or under the image but it's not happening, at least in Chrome.

[2014-03-15 17:22] #24 closed, assigned to nobody

[2014-03-16 04:28] ScotsScripts opened #25 "How to set alt attribute?"
Just wondering how people are handling alt attributes in the images, I see it in the img tag but not sure how to set it.

[2014-03-22 14:06] angheloko opened #26 "Empty jqxhr.responseText still generates img tag with empty src attribute"
In my upload.php, I return nothing when a file fails validation (e.g. size limit). The default behavior is that an img tag will always be generated regardless of the return value of the server side uploading script.

To prevent the unnecessary image tag from being generated, I have the following in my uploadComplete function, which checks the response text if it is a valid URL.

[code]

[2014-03-23 19:13] thiagovelozo opened #27 "Trying to use the plugin with Rails"
Hi Pavel,

Really great work on the editor. it's really cool. I am using the medium editor with a rails app and it works fine. I added your plugin but it does not work. Do you have any advice for using it with rails? I'm not sure how to connect with the image upload. (I'm using gem 'carrierwave', gem 'mini_magick', for image upload).

I would really appreciate your help and advice. thank you very

[2014-04-02 12:43] OmniaGM opened #28 "Backspace in Firefox didn't delete #mediumInsert-*"
try to delete latest `<p>` and hover you will find there is extra #mediumInsert-\* didn't remove with it
![screenshot from 2014-04-02 15 37 41](https://cloud.githubusercontent.com/assets/1101183/2590881/0999133c-ba64-11e3-9074-51656030f689.png)

Is there any way to fix this?

[2014-04-02 12:55] OmniaGM opened #29 "sometime when you try to typing in firefox and press enter you didn't find mediumInsert button"
try to typing in firefox and press enter you will not find insert button under your text because of your text be on textnode not p tag

![screenshot from 2014-04-02 15 50 28](https://cloud.githubusercontent.com/assets/1101183/2591019/f5cc980e-ba65-11e3-9542-f7493a0d2945.png)

and there is another thing , there is `<br type="_moz">` in p not `<p><br></p>`

[2014-04-05 12:16] barentshavet opened #32 "Issues with editor"
Hi. The "B", "I", "U", link and quote buttons disappears. But H1 and H2 works fine in the editor tool. What can be the issue here? See following picture.
![issues](https://cloud.githubusercontent.com/assets/1553678/2622575/05334790-bcbc-11e3-83c1-ce74b717da21.png)

[2014-04-07 00:36] nixoz2k7 opened #33 "While window resizing without toolbar on screen, console log errors are coming."
Error text:
Uncaught TypeError: Cannot read property 'classList' of undefined @medium-editor.js:673

Here is the screenshot of exact line.
https://www.dropbox.com/s/dm3xr1iptafmjv8/Screenshot%202014-04-07%2009.30.10.png

Looks like here is no check for the toolbar appearance on screen before.
It's easy to fix, so i can make a pull request, or you can close this issue.

give me know.
Best,
S.

[2014-04-07 08:01] #33 closed, assigned to nobody

[2014-04-07 08:02] #32 closed, assigned to nobody

[2014-04-07 15:43] #19 closed, assigned to nobody

[2014-04-07 15:43] #28 closed, assigned to nobody

[2014-04-08 08:22] #29 closed, assigned to nobody

[2014-04-08 09:00] linkesch opened #35 "Test"

[2014-04-08 09:04] #35 closed, assigned to nobody

[2014-04-09 16:28] OmniaGM opened #39 "select-all using ( ctrl+a ) doesn't work correctly"
When I try to select-all (using ctrl+a keyboard shortcut), I get different behaviors in some browsers.
In Chrome, nothing got selected!
In Firefox, it is working but it is selecting insert buttons too, so if I wanted to delete everything, insert buttons will be deleted as well from the editor, and I'll have to press enter to show insert button again.
I think the problem is happening because there

[2014-04-10 16:42] #39 closed, assigned to nobody

[2014-04-12 09:54] #15 closed, assigned to nobody

[2014-04-16 08:35] mattgi opened #42 "Server Side Deletion Hook"
Please provide a hook to delete the file from the server after it is removed from the editor.

This could be similar to { imagesUploadScript } but it would be better to also allow a consumer to specify the HTTP verb and set specific formatData for the destroy (i.e some people may treat it as a PUT (update) to the underlying model whilst others may want it to be a DELETE as it's specific to the fil

[2014-05-04 02:03] Dindaleon opened #43 "Do I need prototype to run this?"
I am having lots of trouble trying to run your plugin on my wordpress site. Do I need to have prototype running?

[2014-05-04 10:03] #43 closed, assigned to nobody

[2014-05-15 00:04] abitdodgy opened #44 "Figure instead of div..."
Hello there! Nice work. Is there a particular reason why you prefer a `div` instead of a `figure`? It would be nice to use `caption` and so forth.

[2014-05-15 00:13] abitdodgy opened #45 "Is there anyway this plugin would work with an external upload library?"
Take jQuery fileupload, which I use to make async file uploads... is there anyway to shift the upload to something like that? It would be nice in theory to let this library handle the dom insertion and so on, but let a more flexible library handle the upload. It's useful to unload the cost of file uploads to something like s3, which is where jQuery file uploads shines. https://github.com/blueimp/j

[2014-05-15 13:20] zetas opened #47 "Using a DIV as the editor and grabbing .html() with jquery includes this plugins markup in the content."
I ran into an issue using this plugin where the data being saved to the server included all the markup inserted by the plugin when just grabbing the .html() using jquery. So I had to use the editors serialize function to make sure that extra markup wasn't included like so:

Note: This does use hidden inputs to pass data back and forth using a traditional form. It was the easiest way I could find t

[2014-05-15 14:18] #47 closed, assigned to nobody

[2014-05-15 16:27] abitdodgy opened #48 "Is it possible to insert the image into the dom as it uploads?"
From a UX point of view this change is important. The current flow would have the user wait until the upload bar has finished loading before they see the insert into the dom.

Is there a technical reason as to why the image can't be inserted into the dom before the upload starts?

[2014-05-16 13:15] #26 closed, assigned to nobody

[2014-05-16 13:15] #42 closed, assigned to nobody

[2014-05-16 13:15] #44 closed, assigned to nobody

[2014-05-16 13:21] #45 closed, assigned to nobody

[2014-05-19 08:47] #27 closed, assigned to nobody

[2014-05-21 02:17] enzoz opened #49 "Create an configuration option to active drag and drop"
What do you think about creating an entry in the configuration object to let users choose if they want the drag and drop active or not?

[2014-05-22 12:17] websirnik opened #50 "Use non-minified files in bower.json"
Similar discussion in Medium-Editor repo:
https://github.com/daviferreira/medium-editor/pull/217#issuecomment-42077214
The `main` attribute should point to the non-minified files, like this: https://github.com/daviferreira/medium-editor/blob/1.8.8/bower.json#L9-L11

[2014-05-22 14:35] #50 closed, assigned to nobody

[2014-05-22 16:24] websirnik opened #51 "Do not overwrite .medium-editor-placeholder class"
I have editable elements that does use Medium-editor, but they does not need Insert-plugin.  Because plugin adds the following CSS, it affects placeholders on other elements where there is no Insert-plugin.

[code]

It's better to add a new class that will overwrite those properties, and not to overwrite `.medium-editor-placeholder` class itself.

[2014-05-26 22:43] enzoz opened #54 "Add editable caption to figure"
Any plans to add figcaption to figure?

Maybe something like that this:
[code]
With an icon, aside resize and remove icons, to change the caption value. Or just make it editable.

[2014-05-27 14:36] andrei-cacio opened #55 "Resize button"
Do I have the option not to use a resize button? I just want to give the user the option to remove the photo (for now)

[2014-05-28 09:52] #55 closed, assigned to nobody

[2014-06-01 00:58] inssein opened #57 "Incorrect image placement in serialized HTML"
The serialized html is missing the wrapping mediumInsert-placeholder div (as intended), but the CSS is wrote as if it is always going to be wrapped by a parent div that has the mediumInsert-placeholder class.

Is there something I am missing or is this simply a bug?

[2014-06-02 12:17] #57 closed, assigned to nobody

[2014-06-04 14:42] #49 closed, assigned to nobody

[2014-06-05 03:03] inssein opened #58 "Inclusion of bootstrap breaks default look and causes cursor placement issues"
This isn't so much an issue directly with this project as none of the problems are reproducible on the demo, but once you include Bootstrap 3 CSS, there are a whole bunch of problems.

1) The add (+) button looks incorrect
2) It causes cursor placement issues when images are included. This is a weird one because its a little hard to describe, but I basically have a small image on the left, and tex

[2014-06-07 21:55] inssein opened #59 "Embed's don't work properly"
I am finding there are a lot of bugs with the way Embed's work. Are you currently using this editor as an implementation somewhere public?

I know there is a demo, but it doesn't show what happens when you save, and after you save, embed's don't re-load properly.

1) Embed's are being inserted into the parent of the placeholder. Due to this, when content is serialized, the output looses mediumInse

[2014-06-16 10:22] websirnik opened #61 "jQuery dependency"
What are you using jQuery for? Ideally I would love this plugin without jQuery dependency, since Medium-Editor does not require jQuery.

[2014-06-17 11:26] ghost opened #62 "Unable to get Serialize working correctly"
I've made a very basic page and have been unable to get the serialize parsing out the mediumInsert etc.

Any help would be greatly appreciated:

Code:
    <script src="/squirrel/scripts/medium-editor.js"></script>
    <script>

[code]

I'm logging serial_data to the console on enter (if more than 4s since last enter).
It's retaining all the placeholder divs though, even though I'm using editori.se

[2014-06-19 07:39] #61 closed, assigned to nobody

[2014-06-20 11:53] ai opened #63 "Don’t add global class"
Plugin style [contains](https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/sass/_clearfix.scss) `.clearfix` class without any prefixes.

It can broke application CSS if developers use different clearfix hack or just use same class in different meaning.

[2014-06-21 19:33] Yassine-Mo opened #64 "Resize button not working when image is alredy in html"
I notice that the images can not be resized when the image is already in the html. And if the parent div is class="mediumInsert small, the image is displayed smaller than expected.

Can you help me solve this issue?

![sans titre](https://cloud.githubusercontent.com/assets/7952303/3349800/c68ecb9e-f97a-11e3-8f1b-f789daa7bf32.jpg)
.

[2014-07-01 10:53] tezzataz opened #70 "How to remove image from the server when deleted in rails"
Has anyone managed to figure out how to delete a specific image from the server in rails?

[2014-07-14 11:35] ai opened #71 "Update Medium Editor verion dependency"
MediumEditor was updated, so we need to update version dependency to new version.

[2014-07-14 16:11] #58 closed, assigned to nobody

[2014-07-14 16:26] #51 closed, assigned to nobody

[2014-07-14 16:34] #64 closed, assigned to nobody

[2014-07-14 16:36] #62 closed, assigned to nobody

[2014-07-14 16:45] #71 closed, assigned to nobody

[2014-07-15 12:22] caxopog opened #72 "Cntrl + V not worked in Firefox"
Hello

First of all, great plugin, thanks.

I've found a problem, when i'm trying to add Embed element using plugin in firefox, i could enter address only manually - cntrl+v d't work. For example, i can't copy youtube link and paste it in embed input.

Copy-Paste works ok in IE and Chrome, but in FF Pasting in embed data input is not working.

[2014-07-23 17:25] brookemckim opened #74 "Changing image size does not emit "input""
When changing the size of an already embedded image it does not emit "input" so is not picked up as a change by anything listening. Input is documented here https://github.com/daviferreira/medium-editor#capturing-dom-changes

I can submit a patch, but let me know if this is desired behavior.

[2014-07-25 11:46] #70 closed, assigned to nobody

[2014-07-25 14:06] pedropaf opened #75 "Display the '+' symbol when you're at the beginnning of a line"
This would be the same way as it's done in Medium. When you're at the beginning of a line, the + is on the left side. I've been looking at the code but I didn't find how ti update this. Where's the handle that controls when this appear? Thanks

[2014-07-29 12:49] #75 closed, assigned to nobody

[2014-08-01 17:06] Siron opened #81 "Embedding youtube video issue in FF and Safari"
When embedding a youtube video the embed tag is not using the correct url. This causes the video to not render in FF and Safari.

[code]

This should be changed to

[code]

[2014-08-04 12:04] #81 closed, assigned to nobody

[2014-08-04 12:42] #59 closed, assigned to nobody

[2014-08-04 14:08] #74 closed, assigned to nobody

[2014-08-04 14:09] #63 closed, assigned to nobody

[2014-08-08 14:50] michaelkoper opened #83 "Plugin doesnt work if you have more than 1 editable area"
If i have multiple editable areas and the url i give imagesUploadScript is always the last one. Is this plugin using global variables?

[code]

[2014-08-19 22:28] ai opened #85 "Update Medium Editor verion dependency"
Medium Editor releases 1.9.0 version. We need to update dependencies.

[2014-08-20 11:48] #85 closed, assigned to nobody

[2014-09-02 19:27] kulakowka opened #87 "Inserting image from clipboard"
Do you can add support for pasting images from the clipboard?

This is implemented for example here: http://imperavi.com/redactor/

It is very convenient.

[2014-09-08 21:30] chandrewz opened #88 "Insert Image from URL?"
Is inserting from a URL a feature?

[2014-09-09 07:05] #88 closed, assigned to nobody

[2014-09-17 17:57] ballerabdude opened #91 "How to use the plugin with paperclip"
Does anyone have an idea?

[2014-09-17 22:23] #91 closed, assigned to nobody

[2014-09-25 06:26] indrasantosa opened #92 "Add button still shown even the 'enabled' option has been set to false"
Hi, as mentioned in the title, the '+' button is still shown even the 'enabled' option has been set to false.
Is it intended to be like that? Thanks before.

[2014-09-25 08:22] #92 closed, assigned to nobody

[2014-10-01 15:48] #72 closed, assigned to nobody

[2014-10-02 06:51] #25 closed, assigned to nobody

[2014-10-15 04:04] michelson opened #94 "problems on Firefox"
Hi @orthes ,
Thanks for this plugin , it's a really nice editor and I using it on production.

But I encountered 2 problems Firefox:
- The first problem is with pasting an url from clipboard to the embed input, the link is pasted twice.
- The second problem is when I hit enter on a paragraph all the `<br>` tags are removed. is that an expected behavior ?

best regards

[2014-10-15 08:44] #94 closed, assigned to linkesch

[2014-10-16 16:00] linkesch opened #95 "4 possible image styles"
In the 1st version of the plugin (`<=0.2`), there were available only 2 image styles (big 100% wide and 33% small aligned to the left).

In version `1.0` there might be possible 4 styles to choose from:
1. Big images one after another
2. Grid (3 images in the row)
3. Big slideshow
4. Small aligned to the left

[2014-10-16 16:09] linkesch opened #96 "Refactor images for v1.0"

[2014-10-16 16:14] linkesch opened #97 "Use jQuery File Upload Plugin for image uploading"
Use [jQuery File Upload Plugin](https://github.com/blueimp/jQuery-File-Upload) for upload handling as proposed by @abitdodgy in #45

[2014-10-16 16:15] #97 closed, assigned to linkesch

[2014-10-17 03:00] michelson opened #98 "mediumInsert-embedsText input dissapears in FF when user type text"
Hi @orthes ,

I´ve found another issue in firefox , I´ve tested with 32.x and 33.0 (lastest version),

The problem is the following:
Embed input disappears just after user types text on it.

It works as expected in chrome

[2014-10-17 16:54] merqurio opened #99 "Get a new update url, for each file"
Hi,

I'm implementing this plugin in a Google App Engine instance, and every time I upload a file, the upload url is different. My question is, if I implemente a json function to get the new upload url each time, will it be call each time I try to upload I file ? or the script will use the same url it got in the first call ?

Thanks for your time and sorry if it sounds as a silly question but i'm

[2014-10-18 07:54] #99 closed, assigned to nobody

[2014-10-19 09:20] lngsx opened #100 "Upload Complete event"
Is there a way to handle the success image upload? The document is not clear.

[2014-10-19 13:02] #100 closed, assigned to nobody

[2014-10-23 11:51] #83 closed, assigned to linkesch

[2014-10-23 16:26] #96 closed, assigned to linkesch

[2014-10-28 11:26] #95 closed, assigned to linkesch

[2014-10-28 11:27] linkesch opened #103 "Add sorting of images"

[2014-10-28 11:28] linkesch opened #104 "Refactor embeds for v1.0"

[2014-10-30 00:36] tezzataz opened #106 "Can't add embeds from Soundcloud, incorrect URL"
Everytime I try to add an embed from soundcloud I keep getting the error for an incorrect URL. It works fine for youtube, just not for sound cloud.

For example an iframe embed like:

`<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/174277812&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&a

[2014-10-30 13:33] #106 closed, assigned to nobody

[2014-11-05 12:03] orthes opened #108 "Documentation"
README file is getting too long and hard to orientate in. Another problem will occur, when the new 1.0 will be released. It would be nice to have two separate documentations for old version 0.* and the new 1.0, so people still using 0.* could always find their documentation.

We should take advantage of GitHub's Wiki.

The first step would be to move current README file content to Wiki and split i

[2014-11-05 19:33] #103 closed, assigned to linkesch

[2014-11-05 22:27] merqurio opened #109 "Image upload is not working in Safari"
Hi!

I was testing the plugin in a Mac when I noticed that the image upload isn't working for Safari Version 8.0 (10600.1.25) in Mavericks OSX .

I've uploaded a [video](https://www.youtube.com/watch?v=Y6h6chNLiaQ) to show you the problem. I tried it in the github editor and in my own implementation and both have the same error. I've been trying to find the possible origin of the problem but could

[2014-11-06 16:52] #48 closed, assigned to linkesch

[2014-11-08 13:29] thiagovelozo opened #110 "How to update the old version to enable the new embed function?"
Hi just wanted to know if you could state the procedure on how to best update the old version to enable it to do the embed function? Thank you Very much.

[2014-11-09 08:42] #110 closed, assigned to nobody

[2014-11-11 14:04] #104 closed, assigned to linkesch

[2014-11-11 16:53] orthes opened #111 "Testing version 1.0"
This issue is addressed mainly to the plugin's contributors.

First of all, thank you for all your help with testing, fixing and enhancing this plugin. It started as a quick prototype of image handling in medium-editor, and after a year evolved to much bigger scale, than I ever imagined.

- 22 contributors
- 25 releases
- 43 pull requests
- 67 issues (62 closed)
- 89 forks
- 241 commits
- 318 star

[2014-11-14 09:00] #98 closed, assigned to linkesch

[2014-11-14 09:00] #109 closed, assigned to linkesch

[2014-11-17 20:32] j0k3r opened #116 "[1.0] Button positioning"
_Tested on Chrome 39 (Windows) and Chrome 38 (Mac) with both the latest Medium & Medium Editor Plugin._

I've a strange behavior when the line become active and the button appear. It does not appear at the right place.

Check the screencast:

![](http://f.cl.ly/items/0j2b3E0m0P3b2x2r402m/Screen%20Recording%202014-11-17%20at%2009.12%20PM.gif)

Apart the fact that the CSS of our CMS can conflict wit

[2014-11-19 14:15] j0k3r opened #117 "[1.0] Sharing functions between addons"
I was thinking about sharing functions between addons.

The first function that come to my mind was about _Place caret at the beginning of the empty paragraph_.

This kind of snippet is duplicated between 2 addons:

[code]

I was about to migrate that to a dedicated function inside `Core.js` so each addon can use it, with something like:

[code]

Then I was thinking about how addon can access Core

[2014-11-19 20:53] justindoody opened #119 "[1.0] Dependencies..."
I'm trying to get V1 working, in the readme it says "Usage is pretty much the same as in version 0.*" however looking at the example index it looks like a ton of .js dependencies (Handelbars, Cycle2, Sortable, etc.. ) have been included in this version? Are all these going to be required to get V1 running?

[2014-11-20 11:44] #119 closed, assigned to nobody

[2014-11-20 16:03] #117 closed, assigned to nobody

[2014-11-21 13:22] AppLetico opened #121 "Integration with Amazon s3?"
Just wondering if anyone has tried integrating the image upload capability with Amazon s3?  This is something I am interesting in pursuing.  I'd like to do the s3 upload on the client side with a call to the server to sign the request.  If anyone has any pointers on where to insert this proposed functionality in the plugin I'd appreciate it.

[2014-11-21 14:06] #121 closed, assigned to nobody

[2014-11-23 14:47] sergiofilhowz opened #123 "Buttons for insert contents are in the text content"
The div elements for insert images/videos are present in the text content

[2014-11-23 15:42] #123 closed, assigned to nobody

[2014-11-25 10:58] j0k3r opened #124 "[1.0] Copy/paste a link in the embed addon using Chrome"
_Tested on Chrome 39 (Windows) and Chrome 38 (Mac) with both the latest Medium & Medium Editor Plugin._ It works on Firefox (at lest the v33)

I got a problem on copy/paste for the embed addon **using Chrome**. It doesn't handle it. When I paste a link, it's handled like a normal content.

If I write it, there is no problem. But it's hard to write a tweet url :)

![medium](https://cloud.githubuser

[2014-12-01 14:15] #116 closed, assigned to nobody

[2014-12-16 14:39] #124 closed, assigned to linkesch

[2014-12-25 15:36] zh-daniel-huang opened #128 "[1.0] Use url as image src instead of data uri"
If we upload several large images, it will make entire content size too huge to transport quickly since we use base64 embed image.

Could we use URL to be image src which is returned from server after successful uploading?

[2015-01-05 13:25] j0k3r commented on #124
Great, thanks!

[2015-01-06 11:28] stuartlamour opened #130 "Firefox embed issue"
Specific to FF (using 34.0.5).
On the demo at http://orthes.github.io/medium-editor-insert-plugin/ as soon as i type or paste into the mediumInput-embedsText it closes.
Pasting a link in does the same, and no content is embedded.

[2015-01-06 11:32] davidscotson opened #131 "Menu closes when you move diagonally slowly"
If you open the menu and move directly towards the second item in the list at a diagonal, the menu closes before you get to the item you want to click on.

It works if you move quickly enough so perhaps there's already a timeout? If so it seems a bit short.

[2015-01-06 12:08] orthes commented on #130
This issue was solved (#98 and #114), but I've forgotten to update the demo.

[2015-01-06 12:08] #130 closed

[2015-01-06 12:18] orthes commented on #131
Yes, I know about this bug in 0.x version, but since we're preparing 1.0 version which has completely different UI, the 0.x was left a little forgotten.

The problem is not with a timeout. There is none. The problem is with plugin's active space which looks like this:

![screen shot 2015-01-06 at 13 11 11](https://cloud.githubusercontent.com/assets/312938/5628354/31095a76-95a6-11e4-8dc9-02977cf7c6

[2015-01-06 13:08] zh-daniel-huang commented on #128
Yes, it already work like that. I forgot to check the latest version.

[2015-01-06 13:08] #128 closed

[2015-01-17 18:16] orthes commented on #111
OK. It looks like all major problems were solved, so I moved 1.0 into beta stage. The 1.0 should be pretty much usable (at least I started using it on new projects). Please, try it out and if we don't run into big problems, we can release it as the first stable release.

The last thing is to write a documentation as mentioned in #108. I will look into that as soon as I will have some time.

[2015-01-18 05:10] zakbach commented on #111
I just tried out the 1.0 beta, it says Handlebars is not defined? Since it's a beta already, could you perhaps write up a quick tl;dr on how to use it?

[2015-01-18 10:30] orthes commented on #111
@zakbach Of course. My bad. I've updated the [1.0 README](https://github.com/orthes/medium-editor-insert-plugin/blob/1.0/README.md). The 1.0 version has a few more dependencies than the previous one.

[2015-01-18 11:15] #108 closed

[2015-01-18 11:21] orthes commented on #111
I've finally created the [documentation in Wiki](https://github.com/orthes/medium-editor-insert-plugin/wiki) so both 0.3 and 1.0 documentations are in a one place.

[2015-01-18 20:22] zakbach commented on #111
Great. Thanks!

[2015-01-26 18:52] scashin133 opened #132 "Embed not working on firefox"
When I try to write the url for the embed in firefox the keyup event is firing but the placeholder is not going away. If I wrap the br tag with a p then it seems to work.

[2015-01-27 02:23] scashin133 commented on #132
I forgot to mention that this is on the 1.0.0 branch.

[2015-01-28 01:31] Jiert opened #133 "Question about embed layouts and custom styles."
Thanks so much for your hard work on this plugin. I'm excited to ditch our old Rich Text Editor and start using the Medium clone along with your insert plugin.

I wanted to ask if you had plans to support embed layout options, similar to how the medium.com editor works:

![screenshot 2015-01-27 17 19 04](https://cloud.githubusercontent.com/assets/590608/5930759/e2531e22-a648-11e4-97d5-a05730345a5d

[2015-01-28 08:47] orthes commented on #133
Currently there is no plan to add embed layout options. If you need it, feel free to implement it and submit a PR :)

About your second question. There is an easier way to do it. You can add callback functions to a left style configuration:

[code]

Something like this should work. All configuration options could be found here: https://github.com/orthes/medium-editor-insert-plugin/wiki/v1.0-Config

[2015-01-28 08:47] #133 closed

[2015-01-28 08:49] orthes commented on #132
Thanks for the report. I will look at it today.

[2015-01-28 11:23] orthes commented on #132
You were right. The problem was with ```br``` tag not being wrapped in ```p```. In Chrome it is done automatically, but Firefox doesn't do that. I've made sure that it is wrapped correctly in all browsers. Now it should work correctly.

[2015-01-28 11:23] #132 closed

[2015-01-28 14:00] orthes commented on #111
It looks like all major issues were resolved and a documentaion is ready, so it is a time to finally release 1.0 version. Thank you for your testing and contributions.

[2015-01-28 14:00] #111 closed

[2015-01-28 14:01] j0k3r commented on #111
Awesome :clap:

[2015-01-28 15:50] Jiert commented on #133
Ah, wonderful, thanks!

[2015-01-28 19:21] scashin133 commented on #132
Awesome! Thanks for fixing this so quickly. Also congratulations on the 1.0 launch. I've found this version to be way easier to work with than the previous one.

[2015-02-06 03:57] cnyb-kwange opened #135 "Cannot support IE8"
First of all, thanks for your 'medium-editor-insert-plugin'.
I love this plugin and plan to use it in my project,
but found it is not supporting IE8,
I'm chinese, in my country many people using IE8 browser,
so...  is there any method can resolve this problem?
Thanks!

[2015-02-06 10:13] orthes commented on #135
I'm sorry, but since usage of IE8 and IE9 is finally declining worldwide and even big companies like Google have stopped supporting them, I have no plans regarding IE8.

But if you manage to get it working on IE8, feel free to contribute to the plugin and submit a pull request.

[2015-02-06 10:13] #135 closed

[2015-02-11 02:53] Jaza opened #136 "Check that $p is defined in positionButtons"
When initialising medium-editor-insert-plugin, it sometimes throws an error for me - most commonly in IE (I'm doing this as part of a bunch of IE9 fixes), but also sometimes in Chrome - from Core.prototype.positionButtons, saying that $p.position() is undefined.

Need to check that $p is defined to avoid this error.

[2015-02-11 03:08] Jaza opened #138 "oembed: enable crossdomain AJAX for IE"
oEmbed / iframely is currently not working on IE 9, mainly because the jquery crossdomain stuff is not being set - see:

http://stackoverflow.com/questions/9160123/no-transport-error-w-jquery-ajax-call-in-ie

http://stackoverflow.com/questions/10232017/ie9-jquery-ajax-with-cors-returns-access-is-denied

Also related, a script such as:

https://github.com/MoonScript/jQuery-ajaxTransport-XDomainRequ

[2015-02-11 03:54] Jaza opened #140 "Console.log not always defined in IE"
console.log() is only defined when IE's dev tool is open - see:

http://stackoverflow.com/questions/3326650/console-is-undefined-error-for-internet-explorer

So, let's check that window.console is defined, and if not, fall back to showing AJAX errors in an alert(), which in my opinion is better than leaving IE users in the dark about such errors.

[2015-02-11 10:37] #138 closed

[2015-02-12 04:03] herwinlesmana opened #142 "Not working with medium-editor 2.3.0"
I found medium-editor-insert-plugin not working with medium-editor 2.3.0.
It throws jQuery error: "Uncaught RangeError: Maximum call stack size exceeded"

[2015-02-12 11:46] #136 closed

[2015-02-12 11:46] #140 closed

[2015-02-12 12:48] #142 closed

[2015-02-13 09:02] herwinlesmana opened #143 "All Placeholders Disappear"
Hello,

In one page I have 3 divs using medium editor:
1 div (title) - medium editor only
2 divs (thumbnail and post) - medium editor with insert plugin

![image](https://cloud.githubusercontent.com/assets/1695191/6184826/4827369a-b399-11e4-948f-9cce2be2ced7.png)

Once I clicked in that page, the placeholder text at thumbnail and post div disappear and not coming back again. This is not happened w

[2015-02-13 10:12] j0k3r commented on #143
Could you provide the html content or *even better* a jsfiddle that reproduce your problem?

[2015-02-13 11:17] herwinlesmana commented on #143
I reproduce it here: https://jsfiddle.net/herwinlesmana/sczvwmry/8/

[2015-02-13 13:10] julianfox opened #144 "Remove Jquery dependency"
Hello,
I use Angular and i don't want to add Jquery lib in my program, is it easy to remove the Jquery dependency if i use my own lib for update the pictures ?

[2015-02-13 13:53] orthes commented on #144
Unfortunately no. jQuery is necessary dependency. The plugin uses it heavily for all DOM manipulations and even 2 other plugin's dependencies (blueimp-file-upload and jquery-sortable) use jQuery themselves. If you don't want to use jQuery, you can try some other alternatives like [Zepto](http://zeptojs.com/), but I can't guarantee you it will work.

[2015-02-13 13:53] #144 closed

[2015-02-13 13:54] orthes commented on #143
Thanks for the report. I will look at it.

[2015-02-13 15:05] #143 closed

[2015-02-13 15:09] orthes commented on #143
I fixed it. You can try the latest changes in the master branch (either by downloading [ZIP](https://github.com/orthes/medium-editor-insert-plugin/archive/master.zip), cloning it using git, or using #master branch in bower)

[2015-02-13 16:16] herwinlesmana commented on #143
Works like a charm. Thank you!

[2015-02-13 16:39] herwinlesmana opened #145 "Backspace in empty div"
Hello,

Try to hit backspace in empty div. The caret will move up one line to the padding area, then type something, it will give you uncontrolled return.

You can try with thumbnail and post divs here: https://jsfiddle.net/herwinlesmana/sczvwmry/11/
![image](https://cloud.githubusercontent.com/assets/1695191/6190998/c430b7cc-b3d8-11e4-8a7c-f1231e97a8f5.png)

[2015-02-13 16:52] herwinlesmana opened #146 "Medium insert button position when using embed"
Hello,

When I used the embed function, medium insert button goes to top left instead of disappearing.

You can try with this jsfiddle: https://jsfiddle.net/herwinlesmana/sczvwmry/11/ at thumbnail or post divs
![image](https://cloud.githubusercontent.com/assets/1695191/6191330/21d5ea9e-b3db-11e4-9c2c-7d9c21b273bb.png)

[2015-02-15 10:16] kunalchaudhari commented on #146
I encountered the same. In my case the editor element has style applied ```position: relative```. When i removed that style it fixed the issue.

[2015-02-17 05:43] Jaza opened #149 "Image upload not working in IE9"
As the project maintainers may have guessed (from my recent pull requests), I have the un-enviable task of getting medium-editor-insert-plugin working as close to 100% as possible in IE9.

I've gotten almost everything working now - but image uploads are still not working for me.

After applying my two most recent fixes:

https://github.com/orthes/medium-editor-insert-plugin/pull/147
https://githu

[2015-02-17 12:05] orthes commented on #149
Thanks for your fixes so far. Since cross browser file upload might be tricky, I've decided to use [blueimp's jQuery File Upload Plugin](https://github.com/blueimp/jQuery-File-Upload), so we can blame them not me :)

If ```Images.prototype.uploadAdd``` is called and also ```data.submit```, the problem will be in jQuery File Upload Plugin. It looks like older IEs are not fully supported: https://gr

[2015-02-17 12:51] #145 closed

[2015-02-17 12:55] orthes commented on #145
I fixed it. It should work now even in your jsfiddle.

[2015-02-17 13:29] #146 closed

[2015-02-17 13:31] orthes commented on #146
@kunalchaudhari Your solution worked, but it was kind of a hack, because the real problem was that the buttons should not be visible at the first place. I fixed it now.

[2015-02-23 15:11] #54 closed

[2015-02-25 22:21] moein7tl opened #151 "Adding support for RTL"
I need to place buttons at right of the page,How can it be down simply?

[2015-02-27 15:48] orthes commented on #151
Right now it can't be done easily. You have to change [Core.positionButtons()](https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/js/core.js#L455) function where the position is calculated. Also you need to update [_core.scss](https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/sass/_core.scss#L39) file to display "+" button on the right and addons on the left.

[2015-03-03 08:50] herwinlesmana opened #153 "New Image Not Uploaded"
Hello,

When I insert new image to populated div, the image not uploaded to server. The image appears as data/image.

![image](https://cloud.githubusercontent.com/assets/1695191/6458884/620f9932-c1bb-11e4-9a84-23d1468e3cb2.png)

The first <img> is the new inserted image.

[2015-03-03 08:58] orthes commented on #153
Does your server return correct response?  Look into network requests and make sure everything works fine there. It should look something like this:

![screen shot 2015-03-03 at 09 56 08](https://cloud.githubusercontent.com/assets/312938/6459130/d160e0fa-c18b-11e4-98f0-a9145500145f.png)

[2015-03-04 05:17] hraynaud opened #154 "Having issues with code below throwing Uncaught TypeError: undefined is not a function"
I've just done a bower install of all of the latest dependencies but  getting these errors. It's related to this block. Any assistance would be appreciated. thanks.

    Core.prototype.editorActivatePlaceholder = function (el) {
        var $clone = $(el).clone(),
            cloneHtml;

        $clone.find('.medium-insert-buttons').remove();
        cloneHtml = $clone.html().replace(/^\s+|\s+$/g,

[2015-03-04 09:40] orthes commented on #154
I released a bug fix now. Try updating to the latest version and see if it helps.

[2015-03-04 09:40] #154 closed

[2015-03-04 09:54] djyadav opened #155 "Integrating with ExpressJs"
After loading all the dependencies, It works fines and images are uploaded to the same folder i was using for my other upload purposes.

But, I'm not sure about its functionality and Cant configure  the upload complete event and where is the path to the upload folder specified.

[2015-03-04 10:11] orthes commented on #155
Path to the upload folder is specified on the server side and not in the plugin itself. We use blueimp's jQuery File Upload for uploading so look over here to their documentation: https://github.com/blueimp/jQuery-File-Upload/wiki#javascript

[2015-03-04 10:11] #155 closed

[2015-03-04 13:59] hraynaud commented on #154
Awesome thanks will do.

[2015-03-04 18:51] djyadav commented on #128
Even after successful upload on server, Image source is still the same base64 code.

I'm using ExpressJS with jquery-file-upload-middleware.

Any Idea, how to put that on work ?

[2015-03-04 19:28] orthes commented on #153
Duplicate #128

[2015-03-04 19:28] #153 closed

[2015-03-04 19:35] orthes commented on #128
Make sure your server returns absolute path to an uploaded image. A preview image (base64) is replaced by a path to an uploaded image only if a browser successfully loads the uploaded image first. If the image couldn't be loaded, the preview image is never replaced.

I had the same problem. Then I found out that a server returned relative path (uploads/image.jpg), but the editor was in subfolder /

[2015-03-05 08:15] djyadav commented on #128
Yeah, I m getting absolute path for the image from the server.
Please check my response if there are any issues with that -
![response](https://cloud.githubusercontent.com/assets/8155498/6501375/61ea6f94-c33d-11e4-9e0c-f0ae10f98a7c.png)

However, If I try to access that absolute path to image in broswer, I get a Json not an image.
Trying to figure that out but not getting any solution.

![json2](h

[2015-03-05 09:17] orthes commented on #128
And there is your problem. An uploaded image has to be accessible in order to replace a base64 preview.

[2015-03-05 09:52] djyadav commented on #128
hehehhe I got that . Its working great now.

Thanks a lot buddy.

[2015-03-09 13:19] cnyb-kwange opened #156 "how to get uploading image width and height"
I have a guestion..

how to get uploading image width and height in the showImage function?

--------------------------------------------------------------------------------------------------------
            domImage.onload = function () {
                data.context.find('img').attr('src', domImage.src);
                // why I can't get image real width and height here?
                // wh

[2015-03-10 04:11] harrykiselev opened #157 "What structure of response should be after uploading file?"
Hello! Thanks for the plugin.

Today I faced a problem with JSON response from a server after uploading a file.

Can I try add into documentation a pair of words about JSON response that server returning after upload a files? At least reference to [jquery-upload documentation](https://github.com/blueimp/jQuery-File-Upload/wiki/JSON-Response). :)

[2015-03-10 09:07] orthes commented on #157
Yes, good point. You can update our wiki with a sample code and link to jquery-upload documentation. Thanks.

[2015-03-10 09:07] #157 closed

[2015-03-10 09:12] orthes commented on #156
When I try this, it works. For multiple images too.

[code]

[2015-03-10 09:12] #156 closed

[2015-03-10 09:55] cnyb-kwange commented on #156
thank you very much !!!!!!!!!!!!!! :)

[2015-03-10 19:41] Dmatafonov opened #158 "How to replace src with correct url after upload?"
After making upload how do I change image src from base64 to correct url?

[2015-03-10 19:46] Dmatafonov opened #159 "<figure> and <figcaption> tags are not accepted by DOMDocument->loadHTML"
I'm cleaning user submitted html with php  DOMDocument, so I can get rid all iframes execpt youtube etc..
But figure> and figcaption> are not allowed in this library, so I have to clean them out before actually sending to server.
Is it neccessary to user figure and figcapture? Consider using regular div...

[2015-03-10 19:52] orthes commented on #158
Duplicate. See #128

[2015-03-10 19:52] #158 closed

[2015-03-10 19:57] orthes commented on #159
The plugin relies on HTML5 and CSS3. If I were on your place, I would think about using a library that supports HTML5 instead of DOMDocument.

[2015-03-10 19:57] #159 closed

[2015-03-10 20:12] Dmatafonov commented on #158
worth mentioning in docs
not an obvious solution

[2015-03-10 20:38] Dmatafonov commented on #158
you could at least describe "correct" response from server to replace url
looked at UploadHandler.php

..gush - should I implement All of that just to generate "correct" response?

[2015-03-10 20:45] orthes commented on #158
We're adding it to our docs. The plugin uses [blueimp's jQuery File Upload Plugin](https://github.com/blueimp/jQuery-File-Upload) for handling uploads (which is already mentioned in docs). For more info about file upload itself, please refer to their wiki: https://github.com/blueimp/jQuery-File-Upload/wiki

[2015-03-10 20:45] Dmatafonov commented on #158
bet someone else will need it

here is how "correct" response can be generated

$files = array();
$files[] = array('url' => "/data/blogs/users/$userId/$newName");
$response = array('files' => $files);
echo json_encode($response);

[2015-03-10 20:52] Dmatafonov commented on #158
I saw it, but I don't get what for you use it. If you rely on css3 and html5, so there is no need for older browsers support and upload cand be done with simple and regular ajax request that works in all browsers and doesn't require any additional libraries. It's up to you.

Your plugin itself pretty good, but ctrl+v paste needed and simple description on how to handle files serverside. Spent seve

[2015-03-10 22:46] harrykiselev commented on #157
Pavel @orthes, it's [done](https://github.com/orthes/medium-editor-insert-plugin/wiki/JSON-Response). It's ok? :)

[2015-03-11 08:41] orthes commented on #157
:+1:

[2015-03-12 05:22] Jaza commented on #149
For debugging purposes, I've set up a test site at:

http://mediumeditortest.vector5.com.au/

You can select an image to upload inline, and it will get sent to the server; but it doesn't get saved, the server returns back a sample image (partridge.jpg) on success.

Works fine for me on latest Chrome / Firefox / Safari, but not on IE9 - after selecting an image to upload, it just shows an empty new

[2015-03-12 05:51] Jaza commented on #149
Cross-posted at SO, in the hope that maybe with a wider audience, someone will have a solution to this:

http://stackoverflow.com/questions/29002732/medium-editor-insert-plugin-image-upload-not-working-in-ie9

[2015-03-12 09:29] Dmatafonov opened #160 "Youtube embeds on https sites is not working"
iframy in lib is set http strictly:

[code]

so when I try to embed youtube iframe on secure site

Mixed Content: The page at 'https://beta.tradernet.ru/feed/' was loaded over HTTPS, but requested an insecure XML

[2015-03-12 09:40] Dmatafonov commented on #160
sorry, my fault - I've put http link in options

[2015-03-12 09:41] #160 closed

[2015-03-17 23:48] stevenleeg opened #161 "Hook into events"
Hey there,

I'm currently running into a few use cases where it'd be super helpful to have one or both of the following features:

* Some way to run a callback after a successful image upload. `$('.editor').on('imageUploadSuccess', callback);` or something along those lines would be useful.
* A way to modify the `data` argument passed into `$.ajax` uploading/deleting an image using server-side scr

[2015-03-18 10:52] cnyb-kwange opened #162 "Uncaught IndexSizeError"
I added picture zooming function, when I drag a picture frame, sometimes occur as follow error :
"Uncaught IndexSizeError: Failed to execute 'getRangeAt' on 'Selection': 0 is not a valid index."

Embeds.prototype.togglePlaceholder = function (e) {
    var selection = window.getSelection(),
          range = selection.getRangeAt(0),   //  <------- error occur
    ...
    ...
}

is there any avoid t

[2015-03-18 12:07] cnyb-kwange commented on #162
add " event.preventDefault() " to reslove this issue

[2015-03-18 12:07] #162 closed

[2015-03-25 13:03] orthes commented on #161
Right now it's not possible, but you're right, it would be useful. You can submit a PR, if you've already added it into your project.

[2015-03-26 06:05] buger opened #164 "Medium editor 4.0 support"
It recently bumped version with some major api changes. From things i noticed `activatePlaceholder` no more available, and placeholder does not work. But for sure there is more issue.

[2015-03-26 07:20] daviferreira commented on #164
@orthes Hey man, sorry about yet another major bump, but this was like a reset for us so we start doing things right when it comes to versioning and also we removed a lot of exposed methods and came up with a cleaner API. I promise things will be smoother from now on :grin:

Let me know if you need any help getting things working, I can jump in. And once again thanks for the awesome plugin :+1:

[2015-03-26 13:23] orthes commented on #164
Yes, I've seen, but I didn't have time to test it yet.

@daviferreira Thanks! I'm looking forward to cleaner versioning, so I can set up looser dependencies and rely on you guys that upgrading from 4.0 to 4.1 should be smooth.

If I run into problems, I will definitely contact you. Thanks for the great editor :)

[2015-03-30 12:01] tezzataz opened #165 "Using new version of plugin with rails"
Hi Guys,

Upgraded to the new version but struggling to make it work with rails and handling the JSON responses.

I used the following to make v0.3 work with rails and it works perfectly:
https://github.com/orthes/medium-editor-insert-plugin/issues/27

The new version doesn't seem to like how the controller renders the JSON.

Just wanted to know if anyone has had any success making the new version

[2015-03-30 13:20] orthes commented on #165
Make sure your server returns JSON response in a format described here: https://github.com/orthes/medium-editor-insert-plugin/wiki/Server-response

[2015-03-30 13:29] boosis opened #166 "Documentation for creating new addons"
Hi,

I was wondering if there is any documentation about creating new addons?

Thanks

[2015-03-30 14:04] j0k3r commented on #166
I don't think so. But you can learn a lot using current addons (embed & images).

[2015-03-30 14:25] tezzataz commented on #165
@orthes yep I already have it output the response in that format. The problem seems to be that paperclip isn't recognising the file anymore, and not uploading the file to the server in the first place so it's obviously not giving a response of any kind.

I just need to find away for paperclip/ my controller to recognise the file that's been attached.

[2015-03-31 06:17] Dmatafonov opened #167 "Input event is not triggered on image insert"
I save post html on 'input' event. But when image is inserted, this event is not triggered.
How should I know that image is inserted to html? Is it a bug or i should listen to some other event?

Input event is recommended by mediumEditor.

[code]

[2015-03-31 08:16] orthes commented on #167
```input``` should be triggered on image upload: https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/js/images.js#L293 . When I try it, it works.

```input``` event is triggered on successful upload only. If your server didn't return 200 status, ```uploadDone()``` function is never called and thus ```input``` is never fired.

[2015-03-31 08:21] orthes commented on #166
Thanks for pointing that out. This definitely should be in our documentation. As @j0k3r said, for now you can learn from the current addons.

The only mandatory method an addon has to have is ```add()```: https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/js/images.js#L148 . It is called when a user clicks on an addon button.

Also it has to have ```label``` option: https://gith

[2015-03-31 08:23] boosis commented on #166
Thanks for the quick replies. I managed to create an add on to use Filepicker.io just copying and pasting code from Images add on :)

Thanks again.

[2015-03-31 08:27] orthes commented on #165
Since version 1.0 we're using blueimp's jQuery-File-Upload for image uploading. In their documentation they have a Rails example: https://github.com/blueimp/jQuery-File-Upload/wiki/Rails-setup-for-V6 . I hope it helps, because I'm not a Ruby guy.

[2015-03-31 08:30] orthes commented on #166
:+1: When you'll feel it's ready and you'll have some tests written, feel free to submit a PR :)

[2015-03-31 08:32] boosis commented on #166
I am not a js developer at all. As I said I just copied and pasted some code from the image add on. I wouldn't know where to start to make it PR ready. It's tightly coupled with the project I am working on.

I am more then happy to send you the file and you can do whatever needed :)

[2015-03-31 08:43] Dmatafonov commented on #167
That's the case. Should be triggered twice I think, because html actually changed twice - before and after successfull upload.

[2015-03-31 12:31] orthes commented on #167
The problem is that when you trigger input before upload is complete, html contains raw preview images: ```<img src="data:image/jpeg;base64,...```. And if you're uploading a few MB of images, your html will have a few MB itself until upload completes.

So if you're autosaving your content on input event, it's better to wait until upload completes. That's why input is not triggered before that.

Do

[2015-04-01 13:16] tezzataz commented on #70
@brookemckim  Doesn't work with the new version anymore :(

[2015-04-01 14:27] tezzataz commented on #165
After a day of tweaking, finally got it working, that guide makes makes it even more confusing.

The problem is that the base64 response parameters that were being passed to the rails controller weren't being processed, if that makes any sense.  I'll try and write up a few things to help others.

[2015-04-01 14:27] #165 closed

[2015-04-01 14:36] tezzataz commented on #27
Anyone who has upgraded to the new version, you need to edit the upload function in the controller to something like this:

    def upload
    @picture = Asset.new(image: params[:files].first)
    @picture.save
    url_response = {
    files:
    [
      {
        url: @picture.image.url
      }
    ]
    }
    render :json => url_response
    end

[2015-04-01 15:55] orthes commented on #27
:+1:

[2015-04-01 17:14] Dmatafonov commented on #167
Yes, I do have such usecase.

In input event I save his blog to localstorage, so user doesn't loose his work event if browser refreshes.
If for some case server can't save image at this point (e.g) user session is expired, his work will be saved, including images.

It's not a problem to decode base64 when user actually submits the post, (actually I do it for ctrl+v images paste), but it is a probl

[2015-04-01 17:19] Dmatafonov commented on #167
Of course there can be some hacks but why not trigger input event when html actually had been changed? That's what input event is for.

If he uploads image successfully, the source of file will be changed and input will be triggered again. And in that case some other custom events should be triggered ( e.g. 'mediumEditor_insert_uploadSuccessfull' or 'mediumEditor_insert_uploadError').

[2015-04-02 13:04] #161 closed

[2015-04-02 13:04] #167 closed

[2015-04-02 13:05] orthes commented on #164
Version 1.5.0 now supports medium-editor 4.0

[2015-04-02 13:05] #164 closed

[2015-04-02 13:22] orthes commented on #166
I added info about custom addons to our documentation: https://github.com/orthes/medium-editor-insert-plugin/wiki/v1.0-Custom-addons

[2015-04-02 13:22] #166 closed

[2015-04-03 09:58] tasarsu opened #168 "About failed image uploads"
Hi, first of all thank you very much for this great plugin.

As you know we see the image before uploading. I want to ask how do we remove base64 image if the upload fails. Because even the upload process fails image remains inline.

Best regards.

[2015-04-04 14:49] orthes commented on #168
You're right. On some projects you want to remove a preview image if an image wasn't uploaded successfully, but on some projects you might want to leave it there and save it as it is, so you're sure it works even when a server has some problems - see https://github.com/orthes/medium-editor-insert-plugin/issues/167#issuecomment-88560853

I will add an option, so you can set your desired behavior.

[2015-04-08 11:27] TruffleMuffin opened #172 "Plugin does not immediately initialise in IE11/Firefox"
You need to press return to initialise the plugin UI, in Chrome however the plugin initialises immediately after clicking into the medium editor enabled field.

[2015-04-08 13:17] j0k3r commented on #172
Which version of Firefox are you using ?

[2015-04-08 13:22] TruffleMuffin commented on #172
Version is 37.0.1 (latest at time of writing)

[2015-04-08 13:25] j0k3r commented on #172
Do you that problem on these pages too ?

 - http://orthes.github.io/medium-editor-insert-plugin/
 - http://daviferreira.github.io/medium-editor/

I've tested both on Firefox 37.0.1 and every thing goes well.

[2015-04-08 13:29] TruffleMuffin commented on #172
Yes, on your demo page.

If you clear all the text you have in the demo page. Then click away so that the placeholder is shown again. Click once and the plugin does not show the + at the side, click again or press return and it shows.

[2015-04-08 13:34] j0k3r commented on #172
Thanks for steps to reproduce, it helps! I got the problem too on the demo page.

As a side note, I've integrated this plugin in our CMS and didn't get that problem.

[2015-04-08 14:11] TruffleMuffin commented on #172
No worries. Hope its not too much of a headache to fix at some point. Really nice tool you have here.

[2015-04-08 14:17] kunalchaudhari commented on #146
@orthes Thanks for fix. +1:

[2015-04-09 20:33] arielsvn opened #173 "Add option to remove caption from inserted content"
The plugin is great by the way. I'm planning to use it in a large project.

Is there any option to remove captions for inserted content?? that's not a requirement in my scenario.

Thanks.

[2015-04-09 20:36] orthes commented on #173
Right now there is no such option. But you're right, it should be there.

[2015-04-10 16:06] firedev opened #174 "Uploading non-images"
This is amazing plugin, but how one would go about uploading non-image files? I need to be able to upload images to form galleries and upload downloadable files with captions like pdf or zip.

What is the course of action in this case? Thanks.

[2015-04-10 16:58] orthes commented on #174
The plugin itself doesn't support non-image upload. You can write your own custom extension for medium-editor following their documentation: https://github.com/daviferreira/medium-editor/wiki/Custom-Buttons-and-Extensions

On my own projects, I use my own extension that looks like this:

[code]

I hope it will help you started.

[2015-04-10 16:58] #174 closed

[2015-04-11 01:48] firedev commented on #174
Amazing, thanks!

[2015-04-11 02:18] firedev commented on #174
Amazing, thanks. For the record, the button should be added to `buttons:` when calling `MediumEditor`:
[code]
Full list is something like this:
[code]

[2015-04-11 02:25] firedev opened #175 "How to reject unsupported image types?"
I saw there is a callback to remove failed uploads. Is there a way to not initialize upload at all if the image is not an image? i.e. based file on extension?

[2015-04-12 06:19] orthes commented on #174
Of course, I'm sorry. I've forgotten to add this line to the example above.

[2015-04-13 11:32] #131 closed

[2015-04-13 11:42] #172 closed

[2015-04-16 11:43] #173 closed

[2015-04-16 11:52] orthes commented on #175
In the latest version ```v1.6.0``` I've exposed ```fileUploadOptions``` option so you can configure upload script as you want.

One of the options is ```acceptFileTypes```: https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/js/images.js#L19

For more options see [blueimp's jQuery-File-Upload docs](https://github.com/blueimp/jQuery-File-Upload/wiki/Options)

[2015-04-16 11:52] #175 closed

[2015-04-16 11:58] orthes commented on #168
In the latest version ```v1.6.0``` I've exposed ```fileUploadOptions``` option so you can configure upload script as you want.

[blueimp's jQuery-File-Upload](https://github.com/blueimp/jQuery-File-Upload/wiki/Options) has ```fail``` callback, so you can use that to handle failed uploads.

It might look like this:

[code]

For more info see [blueimp's jQuery-File-Upload docs](https://github.com/bl

[2015-04-16 11:58] #168 closed

[2015-04-16 12:01] orthes commented on #173
In the latest version ```v1.6.0``` I've added ```captions``` options to both images and embeds addons. By default it is set to true, but you can change to to disable captions: https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/js/images.js#L13

[2015-04-16 12:41] arielsvn commented on #173
OK thanks :+1:

[2015-04-16 14:39] orthes opened #177 "v2.0 brainstorming"
This is just an issue for brainstorming what v2.0 might look like.

Version v1.0 added a lot of new dependencies: handlebars, jquery-sortable, blueimp-file-upload (which has a few dependencies on its own). Including the plugin to your HTML now unfortunately looks like this:

[code]

So my major question for v2.0 is: **what dependencies do we really need and what can we handle on our own**. The ide

[2015-04-16 14:45] merqurio commented on #177
I still working on 0.13 due to all those dependencies that were added because I had to heavily modify the upload part (My server needs to be requested for the url to upload something before actually uploading it).

I'm little bit lost now with all those dependencies :cry:

[2015-04-16 14:57] j0k3r commented on #177
We've integrated the plugin without the default addons. We use a custom one for embed, photo and link (but this one is related to Medium). Mostly because we need to pick embed/photo/link from our own database.

So we just use Handlebar for templating which seems ok to us.

I think it's still the best idea to use deps to delegate instead of *reinvent the wheel*. Maybe we can find some lighter deps.

[2015-04-16 17:54] jbellsey commented on #177
#### User modifications
I've monkey-patched the `addImage` routine, also to pick from an internal image list, with our own custom handlers. So I've removed all the blueimp dependencies from my application, but only by duplicating a bunch of plugin code in my app.

[code]
Gross. Extension should be supported by the plugin, since applications will differ so widely. Offering the user a way to modify/

[2015-04-16 18:41] merqurio commented on #177
+1 to @jbellsey and his jQuery and handlebar arguments

[2015-04-16 22:22] bborn commented on #109
I've hacked image drop support into my Medium Insert install. Here's some code for those who care:

[code]

[2015-04-17 09:45] websirnik commented on #177
I'm following this project, but I never ended up implementing it just because of this dependency list. We are developing Angular app, and do not want to depend jQuery and Handlebars.

[2015-04-17 15:29] orthes commented on #177
Thanks for your thoughts so far. I see that dependencies are not the best thing for libraries, especially in frontend. My bad.

**User modifications**: @jbellsey, you're right, but this should be definitely done in the current version too. I'll add it as a separate issue.

**Handlebars:** I went through our existing templates and they are basically using only ifs and loops. We certainly don't need

[2015-04-17 15:42] orthes opened #178 "Simplify custom modifications"

[2015-04-17 16:33] jbellsey commented on #177
Big yes on ES6. All of my projects are bundled with Browserify, and adding Babel to the build process is super-trivial. As long as you avoid features that require a polyfill (like generators or modules), the transpilation process is clean.

[2015-04-17 17:55] daviferreira commented on #177
:+1:

[2015-04-17 18:23] j0k3r commented on #177
100% agree

[2015-04-17 18:40] indrasantosa commented on #177
Agree

[2015-04-18 12:59] orthes commented on #178
@jbellsey I started working on simplifying custom modifications. What are your requirements?

I have this API in mind:

[code]

What do you think? Would this help you with customizing? Or do you need something more than this?

[2015-04-18 13:58] NoelBaron opened #179 "Experienced issue using textareas"
Have you encountered any issues when using medium-editor with textareas? I had no trouble loading up this plugin when using a div, but it would not load if the editor is based on a textarea.

[2015-04-18 14:09] orthes commented on #179
medium-editor only recently added support for textareas, but this plugin doesn't support them yet.

What the editor does to support textareas is that it hides a textarea, creates a div and when content of the div changes, the change is reflected to textarea's value.

What you can try now, is to attach the plugin to this newly created div instead of a textarea.

[2015-04-18 14:28] NoelBaron commented on #179
I switched to div-mode, it's all good for now.

[2015-04-18 14:49] orthes commented on #179
I marked this issue as a bug, because this plugin should support textareas if the editor supports it.

[2015-04-18 23:33] thejameskyle commented on #177
Hey, Babel contributor here. Let me know if you guys need any help getting setup with or using Babel, or you can always drop by our support chat: https://gitter.im/babel/babel

[2015-04-19 07:52] orthes commented on #177
@thejameskyle Thanks :+1:

[2015-04-19 13:21] NoelBaron opened #180 "Turning off Grid Option"
Hi there,

I'd like to hide the Grid button and disable all grid functionality, providing only the Wide, Left, and Right action buttons to the user. Have you provided an option for this?

I tried excluding "Grid" from the styles option, but it did not suppress the button.

[2015-04-19 13:26] orthes commented on #180
Try setting grid to false in styles.

[2015-04-19 14:19] NoelBaron commented on #180
That did the trick, thanks!  Might I recommend a wiki update with a sample showcasing that capability?

[2015-04-19 14:19] #180 closed

[2015-04-20 04:49] cnyb-kwange opened #181 "about 'maxNumberOfFiles'"
this option - maxNumberOfFiles , seems like can't work normally.

I added this option at the index page like this :
$(function () {
    $('.editable').mediumInsert({
        editor: editor, // Instance of MediumEditor
        addons: {
            images: {
                uploadScript: 'upload.php',
                maxNumberOfFiles: 1
            } // images end
        } // addons end
    }); //

[2015-04-20 07:28] j0k3r commented on #181
This option should be passed to `fileUploadOptions` as it's a parameter for jQuery File Upload ([see here](https://github.com/blueimp/jQuery-File-Upload/wiki/Options#maxnumberoffiles)).

BTW, the `uploadScript` is now deprecated. Here is your code fixed:

[code]

[2015-04-20 09:20] #181 closed

[2015-04-20 15:06] jbellsey commented on #178
Why not add callback functions to the options object?

[code]
You could also let the user add callbacks individually, as you suggested. Perhaps by giving the user an API when they instantiate:
[code]

[2015-04-29 21:12] arielsvn opened #184 "Problem updating content when the editor is created from a textarea"
From the MediumEditor readme:

MediumEditor subscribes to changes in the content editable `input` event using native methods to keep the `<textarea>` value synced with the editable region.

The problem is that this plugin uses jquery to trigger the `input` even on the editable region, and jquery only triggers handlers that have been subscribed through it. So changes from the embed plugins aren't u

[2015-04-30 08:32] orthes commented on #184
Duplicate #179

[2015-04-30 08:32] #184 closed

[2015-04-30 21:57] boosis opened #187 "Autoplay html5 videos"
Is it possible to set autoplay for html5 videos when the page is rendered?

[2015-05-01 02:14] bhanusharma opened #188 "Recognizing and inserting embed links when a user inputs a URL in the body"
Today, the user has to enter the URL to embed a video or other embeds, by first clicking the +, then the video icon, then inputting inside the text field and hitting enter. 4 steps.

Is there any way for the user just enter a URL in the story editor, and recognize that as an embed input?

[2015-05-04 16:26] santiago-ervina opened #189 "How to make work acceptFileTypes fileupload option"
Hi,
I saw in a closed issue that "acceptFileTypes" option for fileUploadplugin should work but I can't make it work, I'm using 1.6.0 but none file is rejected, is there any dependency or configuration needed to make it work?
thank you for this great plugin.

[2015-05-05 10:51] orthes commented on #187
No, it's not possible. There would be a problem with that, because videos are covered with overlay layer in editor, so when you're editing you can't play/pause a video. Instead, if you click on a video, you select it and you can set a style or remove the video.

If videos played automatically, you wouldn't be able to stop it in editor.

You could solve it specifically for your project. Before rend

[2015-05-05 10:51] #187 closed

[2015-05-05 10:52] orthes commented on #188
Right now it doesn't work like that, but it's definitely a good idea.

[2015-05-05 10:59] orthes commented on #189
```acceptFileTypes``` should be used like this:

[code]

For more information see jquery-file-upload docs: https://github.com/blueimp/jQuery-File-Upload/wiki/Options#acceptfiletypes

[2015-05-05 12:06] santiago-ervina commented on #189
Hi,
That's exactly what i'm doing but it doesn't work, I've checked in your demo http://orthes.github.io/medium-editor-insert-plugin/ and it has the same behavior, p.e. a php file is added and nothing shows on the screen but in the markup you'll find a "figure" tag with an img which src attrib is "data:application/octet-stream" with the file uploaded, same happens with pdf or any other non-valid e

[2015-05-05 12:09] orthes commented on #189
I'll take a look at it.

[2015-05-05 12:12] santiago-ervina commented on #189
FYI, I googled this and find some info: http://stackoverflow.com/questions/17451629/maxfilesize-and-acceptfiletypes-in-blueimp-file-upload-plugin-do-not-work-why
I tried the solution proposed, including also jquery.fileupload-process.js and then jquery.fileupload-validate.js to try to make it work with no success.

[2015-05-08 20:13] pabloacastillo opened #190 "Easier implementation to work with Image Uploads"
Hi there, im trying to implement this excellent work with wordpress and i found a possible upgrade to be done.

I finally got working the image upload with the native wordpress php asinc, and it works flawlessly, but i had to make a change to the source code.

In the [line 1790](https://github.com/orthes/medium-editor-insert-plugin/blob/master/dist/js/medium-editor-insert-plugin.js#L1790)

[code]

[2015-05-11 10:20] orthes commented on #190
I will simplify custom modifications like this: see #178

[2015-05-11 11:42] #189 closed

[2015-05-11 11:45] orthes commented on #189
You were right. The upload plugin has some issues with a validation, so I implemented our own acceptFileType and maxFileSize validations. You don't have to include any new files.

[2015-05-11 14:31] pabloacastillo commented on #190
Cool! Thanks! :+1:

[2015-05-12 10:36] trananhtu opened #192 "Auto Show Medium Insert"
When use focus() on Medium Editor, Medium Insert not auto show.

[2015-05-12 13:59] j0k3r commented on #192
Could you provide more information to reproduce the problem?

[2015-05-13 10:09] orthes commented on #192
The plugin is not bound to ```focus``` event, but to ```keyup``` and ```click```. Try to use one of those.

[2015-05-13 10:09] #192 closed

[2015-05-23 13:17] silencesys opened #193 "Links in image grid"
Hi there, I would like to ask you if there is a way how to modify code so that inserted images are in <a> tag and grid can be used only for thumbnails?

[2015-05-28 07:28] LionelMarbot opened #194 "Your demo is down :-/"
Link http://orthes.github.io/medium-editor-insert-plugin currently returns a 404:

![temp](https://cloud.githubusercontent.com/assets/6377994/7854670/e6f0cb00-051b-11e5-8c0d-df4ed4e94266.gif)

[2015-05-28 07:42] j0k3r commented on #194
When I click on your link, I'm redirected to this one http://linkesch.com/medium-editor-insert-plugin/ which works

[2015-05-28 08:31] orthes commented on #194
I've set up my personal website here on GitHub (https://github.com/orthes/orthes.github.io) and I've configured it to use my domain - linkesch.com. I didn't realize that all projects' pages will be redirected to linkesch.com, too. But as @j0k3r said, you should be automatically redirected to http://linkesch.com/medium-editor-insert-plugin/ and demo runs there.

[2015-05-28 08:31] #194 closed

[2015-05-28 08:51] orthes commented on #193
In my projects I use something like this:

If you want to use thumbnails instead of full images, your server should return not only a path to a full image, but to a thumbnail too.

[code]

Then you can use ```uploadCompleted``` callback:

[code]

Wrap images into links **only in frontend**, not in administration, so the plugin continues to work as expected:

[code]

[2015-05-28 08:51] #193 closed

[2015-06-02 17:55] NoelBaron opened #195 "Anchoring an uploaded image."
Hi there,

Is it possible to place the uploaded image into the medium editor as an anchor tag, piggy backing medium editor's "targetBlank:true" property? My goal is to launch the image in a new tab when the user clicks on it from non-editing view.

[2015-06-08 20:02] imatsu opened #198 "Cannot start jquery insert plugin"
I installed all the dependencies using bower and the last release of the plugin, and get it this error

[code]

[2015-06-09 07:16] j0k3r commented on #198
This should be fixed as soon as #196 will be merged.
But before that, you can lock bower deps of medium-editor to 4.11.1. And you'll be able to use the medium-editor-insert-plugin.

[2015-06-09 09:43] #198 closed

[2015-06-09 09:46] orthes commented on #195
If your goal is to open an image in a new tab on click then you can wrap images into links only in non-editing view.

You can use something like this:

[code]

[2015-06-09 09:46] #195 closed

[2015-06-09 10:23] orthes commented on #177
I renamed this issue to **v3.0 brainstorming** since I was forced to release v2.0 which breaks backwards compatibility and works only with MediumEditor v4.12.0 and up.

[2015-06-09 13:56] j0k3r commented on #177
v3.0 should definitely target [MediumEditor v5](https://github.com/yabwe/medium-editor/pull/658).

[2015-06-10 21:59] oznek opened #200 "JS error @v2.0.0 "this.hideButtons is not a function""
I'm getting the error "this.hideButtons is not a function" at [core.js#L189](https://github.com/orthes/medium-editor-insert-plugin/blob/2.0.0/src/js/core.js#L189).

It appears to be related to the way Medium Editor extensions works (I was trying to figure out looking at [placeholder extension](https://github.com/yabwe/medium-editor/blob/d52099b9174144b27eb4e6fa051708c05836d6fa/src/js/extensions/pl

[2015-06-11 05:40] j0k3r commented on #200
I already got a PR about that #199

[2015-06-11 08:53] #200 closed

[2015-06-12 18:23] okiuim opened #201 "Insert plugin buttons come along when serializing editor"
Hi, I don't know if I am doing something wrong but when using the serialize() method of Medium Editor with the Insert plugin enabled the editor button divs come along in the html code ie. there are these elements in the end of the html of every instance

div:medium-insert-buttons
--a:medium-insert-buttons-show
--ul:medium-insert-buttons-addons

insert plugin version 2.0 and medium version 4.12.2

[2015-06-12 19:03] okiuim commented on #201
Sorry guys, my bad, incorrect initalization.

[2015-06-12 19:03] #201 closed

[2015-06-25 09:55] KazuyaHara opened #202 "Can't upload images with customized path"
I'm using this plugin (really appreciate for this awesome work!!) on Ruby on Rails 4 and I defined upload path in applicaton.js like below. But it doesn't work. My app try to upload via upload.php as default.

[code]

Is there anything wrong?

[2015-06-25 11:06] orthes commented on #202
This is strange. When I try it, it works correctly. What versions of medium-editor and the plugin do you use?

[2015-06-25 16:21] KazuyaHara commented on #202
I use Medium-Editor v2.0.0 and Medium-Editor-Insert-Plugin v1.0.0. It works correctly on development but doesn't work on production in Heroku. So I suspected this problem is caused by asset compile and I checked precompiled files. And js code I wrote above was included in compiled file (application-XXXXXXX.js).

[2015-06-27 05:39] KazuyaHara commented on #202
It's caused by version of the plugin. "fileUploadOptions" must be used with 1.6.0 or later. Careless mistake :-(

[2015-06-28 07:44] #202 closed

[2015-06-29 03:31] robodisco commented on #198
Hello,

Hi there,

I tried locking as you said and actually set the insert plugin version down to 1.7 to resolve dependency issues. My  bower file now looks like this

{
  "name": "dsl-generated dependencies",
  "dependencies": {
    "medium-editor": "4.11.1",
    "medium-editor-insert-plugin": "1.7.0"
  }
}

yet I still get

[code]

 Im using a div to create the editor and **not a textarea** like

[2015-06-29 07:25] j0k3r commented on #198
Did you try to jump to 2.0.1 instead ?

I'm using medium-editor-insert-plugin @ 2.0.1 with medium-editor @ 5.0.0 without any problems. If you made some custom extension for medium-editor, you can easily update them following the [Upgrade file](https://github.com/yabwe/medium-editor/blob/master/UPGRADE-5.md).

After few tests, it seems that you need to lock medium-editor @ 4.10.1. Placeholder has b

[2015-06-30 03:10] robodisco commented on #198
Hi @j0k3r

Thanks for a very quick reply.

Ok i locked medium editor to 4.10.1 and insert plugin to 2.01.

But i still get the same error

[code]
Chrome inspector tells me its failing on the last line of the Core function

[code]

Here's how i'm requiring the various dependencies (its a rails project but they are all getting loaded)

[code]

here is my bower file

[code]

[2015-06-30 03:40] robodisco commented on #198
Actually ive created a standalone repo which reproduces this bug. You can see it here if it helps. Load up the index.html page in the browser with chorme inspect and you can see the error in the console.

https://github.com/robodisco/medium-editor-insert-plugin-bug

[2015-06-30 07:31] j0k3r commented on #198
You misunderstood what I said :smile:

If you choose to use medium-editor-insert-plugin 2.0.1 you **must** use medium-editor > 4.10.1. And if you choose this option, I recommend you to use medium-editor 5.2.0.

Your bower.json should be like that:

[code]

[2015-06-30 09:42] robodisco commented on #198
Haha sorry - yes I wasn't 100% sure what you meant in your earlier comment. Thanks for clarification. Good news its working.

Thank you for you help! :-)

[2015-06-30 18:31] adamwalker196 opened #203 "UpdatePlaceholder issue"
the line:

this.options.editor.placeholders.updatePlaceholder = this.editorUpdatePlaceholder;

gives the error:
Uncaught TypeError: Cannot set property 'updatePlaceholder' of undefined

When I comment it out, it seems to work fine.

I am using this in a rails app, and installing medium through:
gem 'medium-editor-rails'

that is using medium editor version 4.2.0 as far as I can tell.

[2015-07-01 07:35] j0k3r commented on #203
Could you take a look at #198 ? And tell us if it solve your problem.

[2015-07-02 12:19] #203 closed

[2015-07-02 12:44] #190 closed

[2015-07-03 05:09] wwchen21227 opened #204 "Not able to hyperlink the paragraph with left align image"
When i having image align to left and paragraph to right, i couldn't create link for the first word. Please refer to the attached image below.

![bug](https://cloud.githubusercontent.com/assets/6290523/8492907/838e0c64-2184-11e5-8f3b-8e9fecaff0e0.png)

[2015-07-03 07:00] j0k3r commented on #204
Thanks for the report, could you create a quick jsfiddle to reproduce the error ?

[2015-07-03 08:10] wwchen21227 commented on #204
In fact the screen captured was reproduced in the demo site http://linkesch.com/medium-editor-insert-plugin/.

[2015-07-03 08:46] j0k3r commented on #204
You're right, in fact, as soon as an image is inserted before a paragraph, you can't make a link for the first world.
I guess it's a problem related to selection which shouldn't be well restored after submit the form with the url ..

[2015-07-03 09:26] bertzzie opened #205 "Delete Script Should Have a HTTP Method Option"
Hello,

I am currently using your fantastic editor on a simple blogging app I'm developing. So far it's been great for me, but I have one little thing bugging me:

The `deleteScript` is calling the URL with `POST` by default.

Now this should be not a big deal, but I want to use `DELETE` because I want to directly delete the resource using the same URL as my insert, as a part of being a Restful ap

[2015-07-03 10:53] j0k3r commented on #205
That sound like a good idea, you're right.
But we need to avoid breaking change, so the best solution should be to:
- add an option (like `deleteScript`) called `deleteMethod` which should be at `POST` by default (to keep BC)
- add a condition in `Images.prototype.deleteFile` to use either `POST` or `DELETE` depending on the `deleteMethod` option

You can make an ajax `DELETE` request with jQuery

[2015-07-03 11:50] bertzzie commented on #205
Ok, I'm currently working on it. I can't assign myself at waffle.io though, but I'll send the pull request here as soon as I finished working.

[2015-07-03 14:32] #205 closed

[2015-07-06 12:24] Olgagr opened #207 "Can't delete image - specific sequence of actions"
When image is added as a first element, sometimes it is not possible to delete it. What I do:

1. First I add image
2. Then I add two paragraphs below the image. Let's say that first have text "First" and second has text "Second".
3. Now I'm going to paragraph with "First" text and start to delete it from last letter.
4. When the whole paragraph is deleted and I still press Backspace, the image sh

[2015-07-06 13:09] orthes commented on #207
Interesting, but you're right. It doesn't work for me either when I follow your steps.

[2015-07-06 13:34] Olgagr commented on #207
Yes, if the first is a paragraph, then image, then a paragraph and another paragraph there is no problem. So it is something specific for image as a first node.

[2015-07-06 17:27] Olgagr opened #208 "Errors on demo page"
I think on Friday the page was working but right now there are errors in console. When the system window is opened to pick the file there is TypeError:

[code]

When I clean up the whole editable area, add a new image and try to click below it to select the paragraph I get:

[code]

There are also some 404 errors for jquery.cycle2.min.js  and jquery.cycle2.center.min.js  files.

[2015-07-06 18:23] Olgagr commented on #207
I also noticed that select all (cmd+A) is not working for this buggy case. Strange.

[2015-07-07 04:23] Olgagr commented on #207
I played a little bit with this case and it seems like this is not the plugin bug. This is how contenteditable element behaves when you put the non-contenteditable element into it. Here is a code sample, without any script or plugin:

http://plnkr.co/edit/kT0CLKxNfd8w7XsNgtyU?p=preview

[2015-07-19 12:57] mrtawans opened #209 "can not insert the content with image upload into Database, data is gone"
I working with CodeIgniter. when I submit Image is gone but Video embed is still stored in database except image and the images and thumbnail data is stored in Directory but no data in MySQL Database.

[2015-07-20 12:47] orthes commented on #209
How do you get a content from the editor? You should use ```editor.serialize()``` function.

[2015-07-20 13:03] orthes commented on #208
I don't know what happened. I updated the demo to the latest version and now it should work.

[2015-07-20 13:03] #208 closed

[2015-07-20 13:04] orthes commented on #207
Thanks for investigating.

[2015-07-20 13:04] #207 closed

[2015-08-04 07:32] j0k3r commented on #204
We made some improvement on the link creation in MediumEditor. Could you try again with the latest MediumEditor version (ie 5.5.3) ? *You will need to force bower to fetch this version since medium-editor-insert-plugin restrict to the 4th version*.

[2015-08-04 07:40] lotestudio opened #210 "Laravel csrf token"
I have troubles with csrf token when try implement plugin with Lravel.
Laravel need csrf token in every ajax request.
I use $ajaxSetup of jquery in that way:
`$.ajaxSetup({
                    headers: {
                        'X-CSRF-Token': 'xxxxxxx-csrf-token-key-xxxxx'
                    }
                });`

But this break loading json for embed media from medium.iframe.ly because of the

[2015-08-04 08:10] lotestudio commented on #210
I've found the solution.
Just changed 'oembedProxy' in emeds configration to my own route in laravel and return the content from medium.iframe.lu via curl.

[2015-08-04 08:39] j0k3r commented on #210
If you found the solution, it's great :)

[2015-08-04 08:39] #210 closed

[2015-08-04 22:55] unkunus commented on #179
This should not be so difficult to solve, but it took me hours to find what is going on. Many people might be using textareas, and that this is not working maybe shoud be mentioned in the documentation.

For now, it could be enough to use a textarea, let the editor initialize without any additional scripting and just copying the editor div content to the textarea before submitting - editor.seriali

[2015-08-12 03:45] wwchen21227 commented on #204
Thanks for the improvement, i have tested the MediumEditor latest version 5.6.2 and the link creation is working now.

[2015-08-12 05:45] j0k3r commented on #204
@wwchen21227 thanks for the feedback !

[2015-08-12 05:45] #204 closed

[2015-08-20 15:11] dominicwong617 opened #211 "How do you actually delete an image? [I have a solution]"
I see that many people are having issues with deleting images, especially in Rails (I am using Rails as well). There is a way to get around it.

1. In the doc titled `Server Response`, the author asks us to pass the url of the created image, you can
also pass the image's id so the response will look like
[code]

2. Then, in the `uploadCompleted` callback, you can get the image's id and set `delete

[2015-08-21 02:26] dominicwong617 commented on #211
However, after you refresh the page the deleteScript will be gone...I am still figuring out if there's a way to keep the deleteScript after refresh.

[2015-08-21 02:28] #211 closed

[2015-08-21 02:29] dominicwong617 commented on #211
Argh sorry, something is wrong with this solution. I need to rethink before posting anything.

[2015-08-21 03:03] dominicwong617 commented on #211
For the very least, we can assign a data attribute like `data-image-id` to $el in `uploadCompleted`, and maybe we can run a cron job to remove unreferenced images in the server.

[2015-08-24 15:57] hamzazar opened #212 "Capture DOM changes"
Hi All,

How can I capture the modification on contenteditable when editing the image, delte or grid button for exemple.

this method below as described on medium-editor docs not be fired with image insert plugin toolbar but it fire when the contenteditable change from clicking on buttons in the toolbar

[code]

[2015-08-25 16:27] orthes commented on #212
Try this:

[code]

Apparently, MediumEditor changed their event from ```input``` to ```editableInput``` and we haven't caught up yet. It should just be a proxy for the ```input```, so I hoped it would work just fine without any changes.

[2015-08-26 09:38] laurentiustroia opened #213 "Hidde button and add custom class embed"
Hello, how can hidde button image ?

But if i want add some class on my oembed div what option need use ?

[2015-08-26 10:58] j0k3r commented on #213
If you want to disable image addon, you just need to do that :

[code]

There is no way at the moment to add a custom class to the embed div.

[2015-08-26 11:01] laurentiustroia commented on #213
this remove all functionality, i want only to move right/left and remove images from my content but without functionality to add ...

I was go inside plugin to make only hidden with this:
` (depth0.display === false ? "style=\"display: none;\"" : "")` at line 16

and for embed add class on line 926 ( not tested yet ).

If have sugesstion who can hidde button let me know ...

[2015-08-26 15:15] orthes commented on #213
You can try this:

[code]

[2015-08-26 17:14] hakimihamdan88 opened #214 "Hide Blinking Cursor"
Hi, how can I hide the blinking cursor when adding image?

![Image]
(http://i.imgur.com/DrdaGQI.png)

[2015-08-27 08:24] orthes commented on #214
Right now it's not possible, since we want give a user an option to continue writing if they decide not insert an image. We would have to save the caret position and restore it on key press. I'll mark this issue as an enhancement for the future reference.

[2015-08-27 10:27] #179 closed

[2015-08-27 12:15] j0k3r commented on #214
This can be easily _hacked_.
We applied a `background-color: #fff` on `.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li` and it fixed the _problem_.

@orthes should I create a PR with that _fix_?

[2015-08-27 12:21] orthes commented on #214
@j0k3r Good idea. Yes, you can create a PR.

[2015-08-27 12:35] #214 closed

[2015-08-27 14:07] hakimihamdan88 commented on #214
cool man

[2015-08-27 17:06] hamzazar commented on #212
Thanks for the suggestion but changing from 'editableInput' to 'editableInput, input' didn't fix the problem and the medium editor toolbar won't fire the function anymore..

[2015-08-27 17:25] orthes commented on #212
Yes, I fixed the problem in #216 but we have some problems with tests on that PR. Once we merge it, we'll release a new version with the fix.

[2015-08-28 06:44] laurentiustroia commented on #213
orthes don't work your mettode i think only my hack is my solution for me

[2015-08-28 09:21] dominicwong617 opened #218 "pressing backspace in an empty editor causes weird behavior"
![medium editor](https://cloud.githubusercontent.com/assets/2256515/9543070/6414443e-4da8-11e5-89e2-6b0afee93924.gif)

When the editor is empty, if you press backspace, the `p` tag with `medium-insert-active` class keeps popping up. Obviously it always has to be there along with the `medium-insert-buttons` for the plugin to work, but is there a way to make it not behave like this (as seen in the g

[2015-08-28 12:24] orthes commented on #218
It has nothing to do with ```medium-insert-buttons```, but the plugin needs text to be wrapped into paragraphs in order to work. So when you delete the only paragraph, plugin's ```clean()``` function sanitizes the content and adds a paragraph back. To avoid this we would have to disable deleting the last paragraph.

[2015-08-28 12:53] dominicwong617 commented on #218
@orthes Thanks!

[2015-08-28 14:20] #213 closed

[2015-08-28 14:21] laurentiustroia opened #219 "How can limit number images"
I total number of images and embed to 10 for example, who can do that ? or for that i must enter in plugin and modify him ?

[2015-08-28 15:37] orthes commented on #219
No, it's not possible now. Maybe you could write an external script that would count the number of images on the page every time the content changes and then you can hide the plugin's buttons if the number exceeds 10.

[2015-08-28 15:37] #219 closed

[2015-08-31 07:29] laurentiustroia opened #220 "Drag and drop image"
When do drag and drop image from my pc, my image not insert good, I mean structure html is not same like i add when press button insert image.

If press insert image the structure is `<div><figure></figure></div>`
When drag and drop the structure is `<img>`

Who can prevent drag and drop or make it do same action like add image to add default structure ?

[2015-08-31 11:54] j0k3r commented on #220
Which browser are you using?

I don't think this plugin handle drag'n'drop image. I guess that your browser handle it on its own and create a `<img>` node when you insert the image. I also guess that the `src` of this image isn't a file path but a `data:image`.

Also, this feature is enabled by default in Medium-Editor ([see the doc](https://github.com/yabwe/medium-editor#image-dragging-options)).

[2015-08-31 14:28] laurentiustroia commented on #220
I use Google Chrome  39.0.2171.95 and OS ubuntu 12 ...  thank you!

[2015-09-01 06:31] #220 closed

[2015-09-01 06:33] laurentiustroia opened #221 "Stop Multiple uploads iamges"
How can stop upload multiple images ? I do a hack to count my image in Core when he press Images button but if he multiple I don't count good, and now for moment best solution is to stop multiple uploads. I know i can use this.core in add function for images but I'm a little confusion about where to do this exactly because i don't use url for upload.

[2015-09-04 15:19] lauranjansen opened #222 "Insert plugin does not adhere to Medium Editor button class conventions"
I'm currently using Medium Editor in combination with the Insert Plugin, but I have noticed that the Insert Plugin does not apply the same classes to their toolbar buttons, which makes styling them beyond the defaults unintuitive.

Medium Editor toolbar DOM classes:
[code]

However, the Insert Plugin will only add the "medium-editor-action" class to the buttons, not the "medium-editor-button-first

[2015-09-04 16:38] orthes commented on #222
Apparently, Medium Editor added those classes only recently. I will mark this as an enhancement, so we'll remember to add them too.

[2015-09-04 16:39] orthes commented on #221
No, right now it's not possible to disable multiple image upload.

[2015-09-04 17:04] lauranjansen commented on #222
Great, thanks!

[2015-09-07 03:22] wwchen21227 opened #223 "Issue with Image caption"
Hi,

I have encountered an issue when trying to do press backspace when having an left align image with caption. Please follow my steps below in order to reproduce.

1) Insert an image in between two paragraph. ref attached image 1
2) I try to press backspace from the right paragraph, it will remove the image if there is no image caption. ref attached image 2 and 3
3)  However, if i have enter som

[2015-09-07 07:09] j0k3r commented on #223
Yep, I already encountered this bug.. it's really annoying.

[2015-09-12 01:04] unkunus opened #224 "insert-plugin not working with editor.destroy() and then editor.setup() again"
When switching between editor / textarea (raw/visual edit), the insert plugin produces an error:

Uncaught TypeError: Cannot read property 'enable' of undefined(anonymous function) @ medium-editor-insert-plugin.js:302j

JSFiddle: https://jsfiddle.net/ho4xtnfc/12/

there is a workaround to just hide and show the editor div or textarea , but then they need to be synced manually, as the insert plugin

[2015-09-23 16:54] litera opened #225 "Precompiled templates don't work with latest Handlebars runtime"
I've downloaded latest version of Handlebars runtime library (4.0.2) to use medium editor insert plugin. but when I run my application I see this error in console window:

Which version should I downgrade handlebars runtime to?

[2015-09-23 18:00] j0k3r commented on #225
I think the 3.0.3 should be good.
Bower.json has `"handlebars": "~3.0.0",`.

[2015-09-23 18:01] litera opened #226 "Insert plugin shouldn't add new elements to content editable"
When I add Medium Editor Insert Plugin, this plugin adds its own toolbar markup directly to editable element, which is wrong because this addon becomes part of the content users are editing. Addon specific elements should be appended to the end of `body` or **anywhere outside of the editable element** (contenteditable sibling).

[2015-09-23 21:03] litera commented on #225
Yes. I was loading version by version and indeed 3.0.3 is the latest that can be used.

[2015-09-23 21:03] #225 closed

[2015-09-23 21:05] litera commented on #226
What I meant is that toolbar itself shouldn't be added to the content editable element. Result should of course be... That's natural.

[2015-10-03 06:02] uchuy77 opened #227 "how to show input file change to opacity"
why input type file hidden to show, but opacity to 0, because in my safari version 5 not working show file dialog. button click upload image not work, in google chrome and firefox working..

why solution in safari 5?

[2015-10-03 10:20] j0k3r commented on #227
Safari 5? Last version is Safari 9.
medium-editor is only compatible with Safari >= 8.

[2015-10-04 06:05] ittikorns opened #228 "Backspace won't trigger delete event"
Hi,

I notice two things that won't trigger the delete event.

1. Insert an image and type some text into next lines
2. Keep pressing backspace from the line with text till the image is deleted by backspace (delete event is not trigger here)

OR

1. Insert an image and type some text into next lines
2. Select all and press backspace to delete (delete event is also not trigger)

Not sure this is in

[2015-10-04 17:24] uchuy77 commented on #227
@j0k3r  thank's for reply..

yes i know.. last version safari 9, but i use plugin on work in safari 5. because safari 5 not support open file dialog, if file type not show, can u give me solution for open file dialog in this plugin?

thank's before..

[2015-10-04 19:07] tvsloot opened #229 "Cannot embed Tweets"
Plugin works great for Facebook, Instagram, YouTube, and Vimeo, but I cannot get Tweets to embed. When I add the url, the tweet appears in the editor, but when I save my changes, the Twitter iframe html has an empty head and body. Am I missing something here, or is anyone else having the same issue?

[2015-10-05 05:47] j0k3r commented on #229
Could you give us a jsfiddle so we can reproduce what you described? Thanks

[2015-10-05 13:44] tvsloot commented on #229
I can include a jsfiddle of the end result: https://jsfiddle.net/gjaoLjes/

I am using this plugin for my Laravel CMS application. The Tweet appears when entered into the form, but when I save to the database, this is what happens.

[2015-10-05 14:05] j0k3r commented on #229
Maybe you need to manually call `twttr.widgets.load()` to re-enable the tweet.

[2015-10-06 05:00] orthes commented on #229
Yes, I know about this problem. That's why the recommended approach is to use ```oembedProxy``` and let an oEmbed provider handle embed codes.

[2015-10-06 05:06] orthes commented on #226
If I remember correctly, we had it like this before, but we had some issues with positioning and multiple editors on the same page. Moving a toolbar to an editable element was the easiest solution at the time. But if you use editor's ```serialize()``` function, you should get a clean content without plugin's toolbar.

[2015-10-06 08:32] litera commented on #226
@orthes I'm not using `serialize()` because I'm using Medium Editor in an Angular JS application that does the reading... Hence the problem.

[2015-10-07 16:10] oosidat commented on #226
I'm experiencing a similar issue. In my attempt to use `angular-medium-editor`, `yabwe/medium-editor` and `medium-editor-insert-plugin` in my AngularJS app, the insert buttons getting injected into the content itself becomes a problem - currently, I'm looking into removing the buttons before I save the content, but in a "correct" (in my head) scenario, the buttons wouldn't be part of the content i

[2015-10-07 18:10] ryandh opened #230 "Issue with Image caption, Multiline support in Firefox"
basically, press enter in the caption will cause wrong display in Firefox

1) create one image and add a caption, put something like 'hello' there, everything good.
<img width="1242" alt="screen shot 2015-10-07 at 11 06 19 am" src="https://cloud.githubusercontent.com/assets/5561911/10346353/a55ce1e4-6ce3-11e5-949c-f3b6bdac9b73.png">
2) press enter at the end of hello, and type "world", got reverse

[2015-10-08 08:05] litera commented on #226
@oosidat if you change the view ⇒ model functionality in your directive you can still use this extension. The thing is you have to change the way editor's content is read from the usual `innerHTML` to `editor.serialize()` because that's what this *extension* (if we can call it this way in the first place because it's more a jQuery plugin than an actual ME extension.
[code]
In this example I've put

[2015-10-08 12:46] oosidat commented on #226
@litera Thanks - I'll try it out!

I'm curious - in your directive, at what point in the controller/linking function do you initialize the insert plugin (by calling `angular.element(...).mediumInsert({...})`)?

[2015-10-08 14:22] litera commented on #226
@oosidat Right after I create Medium editor.
[code]

[2015-10-22 18:52] romainmougel commented on #229
I had the same problem, I solved with this script. It must be added on the editing page and on the rendering page to work. It basically get the tweet ID, remove the old one and add a new one at the same place :

                  $.getScript('//platform.twitter.com/widgets.js', function(){
		    	var k = 0;
		    	var tweet = document.getElementById('twitter-widget-'+k);
		    	var tweetTest = twe

[2015-10-27 03:32] themellwood opened #231 "Save embed codes in database"
When I save an embedded link from a textarea into the database, the code for the iframe is not saved, just the url inside p tags. Is this intentionally and is there any way I can just save the embed code?

![screen shot 2015-10-27 at 4 30 40 pm](https://cloud.githubusercontent.com/assets/6156319/10748739/182a7aa8-7cc8-11e5-9aa7-a2a8f9f2929e.png)

[2015-10-27 08:06] orthes commented on #231
Thanks for the report. You're right. The editor changed the way it handles events. I tried to fix it with #216 but I ran into some problems with the PR. I'll try to fix it now and release it as soon as possible.

[2015-10-27 08:08] orthes commented on #230
Is this a bug in the plugin or in the editor itself? I see that you created a pull request in medium-editor repo. Can we close this issue here?

[2015-10-27 12:47] #212 closed

[2015-10-27 12:56] orthes commented on #231
v2.1.0 was just released and it should fix this problem

[2015-10-27 12:56] #231 closed

[2015-10-27 18:16] ryandh commented on #230
yes, but of the media-edtor app

--
RyanDH
"be yourself everyone else is already taken"

On Tuesday, October 27, 2015 at 1:08 AM, Pavel Linkesch wrote:

[2015-10-28 10:22] #230 closed

[2015-11-04 19:24] joseqq opened #234 "Problem when embeding two or more iframes"
When I  embed two or more viedeos or tweets and save the code in the database and then I try to render to show it, first video or tweets it is represented ok but second it is showed as code, I mean like <iframe width="560" height="315" src="https://www.youtube.....
I appreciate that in database the data representing the iframes in the first video is like <iframe width..... but second video the sym

[2015-11-05 09:37] j0k3r commented on #234
Can you provide some code please?

[2015-11-05 15:41] joseqq commented on #234
I do not do any specially (I think). I am testing with symfony and my route for adding a new comment has an action in the controller like:

    public function nuevaPublicacionAction(Request $peticion) {

        $mensaje = new Mensaje();
        $formulario = $this->createForm(new MensajeType(), $mensaje);
        $formulario->add('publicar', 'submit');

        $formulario->handleRequest($petici

[2015-11-05 15:52] j0k3r commented on #234
And how do you display your form? Are you using MediumEditor on a textarea or a div?

[2015-11-05 18:50] joseqq commented on #234
I was wondering about the controller, formtype,... and I found the problem at the html.twig code. As you guess I mistake with a  end tag ```</div>``` into my form. That break down all the magic. Thank your for your help.

[2015-11-05 18:50] #234 closed

[2015-11-06 04:11] aggied opened #235 "Access to oembedProxy metadata"
After searching over the repo, I can't find anything that would indicate the plugin supports sending/storying the oembed response anywhere. I have a use case for storing this metadata along with the resulting iframe html.

Assuming this isn't already an available option, perhaps we could add to the Embed options a "responseCallback" function that sends the response of the oembed in? Or perhaps a s

[2015-11-06 11:17] dknaack opened #236 "Cant get it running"
Hello,

ive followed you getting started guide step by step but i cant get it running. I always
get the javascript error "Uncaught TypeError: $(...).mediumInsert is not a function" in the chrome
developer console. The editor works as expected.

Please help!
Thanks in advance!

here is the html

[code]

[2015-11-06 19:18] j0k3r commented on #235
You need to information when the user will save the content? Or right after fetching the embed so you can use it elsewhere in your application?

Maybe, you can tell us more about your use case so we can try to find the best implementation for that.

[2015-11-06 19:21] j0k3r commented on #236
I've just pasted all your content into a jsfiddle (using js & css from our demo page) and every thing is working: http://jsfiddle.net/e3jzora8/

Could you double check that all your deps are well installed?

[2015-11-07 04:21] aggied commented on #235
I need it when the user saves the content. I realize most use cases are satisfied by simply inserting the embed iframe, but I am also needing to store the metadata that comes back from iframely because I will also be extending the code to support more than just Youtube, etc. I need the ability for users to share virtually any link and have a preview generated much like takes place on Google+, Face

[2015-11-07 07:55] j0k3r commented on #235
I don't think this is something that everyone will need to have. But you can send a PR with that information and an option to enable that feature which will be disabled by default.

What do you think?

[2015-11-08 02:23] aggied commented on #235
thanks for being open to it. Perhaps someone will benefit from it down the road. If I do get around to extending the plugin to handle embeds from more sites, I'm guessing folks my be interested in a PR for that?

[2015-11-10 11:47] dknaack commented on #236
I tryed your link but it doesnt work. Looks like http://linkesch.com/ is not available.

[2015-11-10 13:06] j0k3r commented on #236
Right now, it works for me.

[2015-11-12 21:18] wkurosawa commented on #209
@mrtawans have you solved this?
I'm having a similar issue, still browsing through closed issues to see if I can find a similar problem..

I can upload images but they are only stored as HTML content if I try to input something in MediumEditor after uploads.
Not sure if image insert is not triggering something right at MediumEditor.. must be some configuration error, I don't know :-/

[2015-11-16 19:27] wkurosawa commented on #167
I'm not sure if this should have been solved with #167 issue, or if it's another scenario, but I'm using MediumEditor 5.10, on a textarea input and when I insert an image it's not triggering `on input` event.

I noticed this running some scenarios:
- Input only text -> OK -> POST data is a HTML with paragraphs elements
- Input text, insert image and after upload input more text -> OK -> POST data

[2015-11-18 01:19] vladman commented on #229
I also had this problem:

      $("iframe[id^='twitter-widget-']").each(function() {
          twttr.widgets.createTweet($(this).data('tweet-id'), this.parentNode);
          $(this).remove();
      });

Most likely you will need to clean the parent folder from the other stuff. At least from &lt;script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"&gt;&lt;/script&gt;
It's a good

[2015-11-20 19:26] nickground opened #238 "Images are not inserted into DB"
Hi, everything is working fine. However, after uploading an image, I have to insert some texts. If I don't, the image are not saved into the database.

I use textarea. Please help. Thank you.

[2015-11-21 19:12] patrinhani-ciandt opened #239 "The "elementsContainer" option on medium-editor is not been considered for the Images toolbar positioning"
The option "elementsContainer" on medium-editor is not been considered for the Images toolbar positioning.

Into the medium-insert has an option to set a custom container for the editor and it's not been used on the Image toolbar.

[2015-11-21 20:13] kailashtandel opened #241 "Image uploading issue with generic handler in asp.net"
Hello,
I am a .Net dev. So I don't understand how PHP works. So I modify upload.php to upload.ashx in medium-editor-insert-plugin.min.js file.
Now when I upload a file, trigger goes to my file but I am not able to get a file there.
Below is my handler code.

      public void ProcessRequest(HttpContext context)
        {
            context.Response.ContentType = "text/plain";
            context.

[2015-11-21 22:01] nickground opened #242 "How to add deleteCompleted"
Hi, you have uploadCompleted but you don't provide the deletedCompleted. How can I add this functionality :( Please help. Thank you so much.

[2015-11-22 08:44] #236 closed

[2015-11-22 08:49] orthes commented on #238
What version do you use? It shoud be fixed in ```2.1.0```

[2015-11-22 08:58] orthes commented on #241
We're using [blueimp's jQuery File Upload Plugin](https://github.com/blueimp/jQuery-File-Upload) to hande all uploads. You can look to their documentation to see .NET examples: https://github.com/blueimp/jQuery-File-Upload/wiki#aspnet

[2015-11-22 08:58] #241 closed

[2015-11-22 09:02] orthes commented on #242
We're adding functionality as we need it. So you can implement this yourself, create a pull request and we'll gladly merge it.

[2015-11-22 12:06] nickground commented on #238
I use ver 2.1.0 :)

[2015-11-22 12:08] nickground commented on #228
When will you fix this? :) I really need to have this bug fixed on my production sites. Thank you.

[2015-11-22 13:47] orthes commented on #238
It looks like a problem in medium-editor and the way it handles textarea sync. I submitted a bug fix there.

[2015-11-22 13:49] #238 closed

[2015-11-22 13:51] #239 closed

[2015-11-22 18:02] nickground opened #243 "Bugs when moving images: Cannot read property 'triggerInput' of undefined"
Hi, when I try to move an image, I can't move it easily. There is an error  at medium-editor-insert-plugin.min.js:10

Uncaught TypeError: Cannot read property 'trigger' of undefined

The demo also has this error. Can't move images. :) Please fix this. Thank you so much.

[2015-11-22 18:05] nickground opened #244 "Insert image from URL"
Hi, I really need this feature, it's really important. May you add this button next to the insert image button :)

[2015-11-23 07:27] j0k3r commented on #228
@nickground feel free to provide a fix :)

[2015-11-23 07:32] j0k3r commented on #243
It looks like the demo isn't up to date. This `trigger` action [doesn't exist anymore](https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/js/images.js#L67).

@orthes Could you update the demo page?

[2015-11-23 08:02] orthes commented on #244
This already works if you use oEmbed in embed addon (for example https://iframely.com). Then you just paste image URL as you normally would YouTube video URL for example.

[2015-11-23 08:02] #244 closed

[2015-11-23 08:23] #243 closed

[2015-11-23 08:39] orthes commented on #243
I fixed the problem and updated the demo.

[2015-11-23 20:15] nickground opened #247 "Can't move images easily"
Hi, even though the bug has been fixed. There is no error but the images can't be moved (dragged to a new line) easily. Sometimes it works, sometimes it doesn't work. :)

If you can enhance the dragging image functionality or make it like this http://getcontenttools.com/demo,
that would be awesome.

Keep up your hard work. Many thanks.

[2015-11-25 07:37] orthes commented on #247
Right now, image sorting is very basic and is meant to be customized. You can use your own solution, just use ```sorting``` option: https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/js/images.js#L55

As for now, ```sorting``` function simply initializes https://github.com/johnny/jquery-sortable

For the future, I'm planning completely rewrite the plugin to ES2015 and use as lit

[2015-11-25 10:29] askehansen commented on #177
I agree with the dependencies.. Also i could use some more callbacks, specifically when starting upload.

[2015-11-26 13:24] jackyzhai opened #248 "Deletion of image failed because of CSRF token"
For file uploads, we have fileUploadOptions, so that I can set

    headers: {
        'X-CSRF-TOKEN': Cookies.get('X-CSRF-Token')
    }

However, it's not possible for deletions, any solutions? maybe something like fileDeleteOptions?

[2015-11-26 13:51] j0k3r commented on #248
We do not have such option for the delete method. So yeah, it could be a great idea!

[2015-11-27 03:17] jackyzhai commented on #248
Great thanks.

[2015-11-30 18:42] kailashtandel commented on #241
Thank you for your valuable suggestion.

[2015-12-01 12:36] bsdo64 opened #249 "How can I setting up this plugin with React?"
I used medium Editor and this plugin in React component like this,

[code]

But, when I click and call `submit` method serialize() didn't remove `<div class="medium-insert-embeds-overlay"></div>`

It means that, I saw `Core.prototype.editorSerialize()` being not called but `plugin_mediumInsert` had been initialized. How to solve it?

One more, Is it correct way initializing plugin?

[2015-12-01 13:20] bsdo64 commented on #249
[code]

This is working but I'm not satisfied :)

[2015-12-01 15:13] orthes commented on #249
The problem is that you initialize editor and the plugin one more time in ```submit``` function. You should do something like this instead:

[code]

Also you don't need ```$(function () {``` when you're initializing the plugin in ```componentDidMount``` function.

[2015-12-01 15:13] #249 closed

[2015-12-09 18:09] ujinn opened #250 "Images are not loaded."
Hello!

Why not persist the inserted picture?
Wrote an article, insert a picture, video. Retained.
Everything is there except pictures.
In the saved html code there is no img tag, no picture.
Where should it upload?
In what catalog?
Where to put the path?

[2015-12-14 10:02] orhanveli opened #253 "selectImg menu doesn't appear after image uploaded"
I implemented editor to my CMS and image upload phase works well but selecting new uploaded  image by clickig on it couse this console oputput;

    Uncaught TypeError: Cannot read property 'options' of null

Releated code is; in **Images.prototype.addToolbar()** method,

    var mediumEditor = this.core.getEditor();
    var toolbarContainer = mediumEditor.options.elementsContainer || 'body';

**t

[2015-12-14 10:08] orthes commented on #253
How do you initialize the plugin? You should provide editor instance like this:

[code]

[2015-12-14 10:10] orthes commented on #250
We need more info. Can you reproduce your problem in https://jsfiddle.net/?

[2015-12-14 10:41] orhanveli commented on #253
Just like that but problem occurs when I clicked new uploaded image

[2015-12-14 10:49] orthes commented on #253
Can you reproduce your problem in https://jsfiddle.net/? It works without any error on our demo page.

[2015-12-14 15:24] orhanveli commented on #253
Hi all

Finaly I found the problem. Because of using multiple element as editable was my issue. If anyone exprienced smillar problem can fix this problem with $(selector).each() pattern via jquery something like that:

      function makeEditable(el) {

        var editor = new MediumEditor(el, {
          "autolink": true
        });
        $(el).mediumInsert({
          "editor": editor,

[2015-12-14 15:25] #253 closed

[2015-12-14 17:00] ujinn commented on #250
Hello Pavel,

I've decided to abandon your plugin at the moment.
Not well described how to install it, how to put the path.
And even when I somehow installed it, he never wanted to save any picture or video.
I can't spend time repeating problem in https://jsfiddle.net/
All descriptions of errors in our correspondence.
However, I do not refuse completely from the help you.
The only thing I need ste

[2015-12-14 17:44] #250 closed

[2015-12-21 02:49] mitchnick opened #254 "Inserting only an image isn't getting picked up by form submit"
Hey team, thanks for building an awesome plugin. I'm pretty close to having everything work as I would like, but keep on running into a really strange error when trying to only add an image and save the results. Not sure if it's an issue with the plugin or an issue on my end. Any help is greatly appreciated!

**Steps to produce error:**
I go to my edit form, add an image, wait for the server to sa

[2015-12-21 09:12] orthes commented on #254
Hi. How do you get the content? ```event``` variable doesn't store it. You should use ```editor.serialize()``` function: https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Getting-Started#getting-clean-content

[2015-12-22 02:18] mitchnick commented on #254
Thanks @orthes, was able to get it going :)

For anyone else looking, here is the code added:
[code]

From the code above, I removed the editor.subscribe 'editableInput' block and all console logs.

[2015-12-22 02:18] #254 closed

[2015-12-22 02:21] mitchnick commented on #209
@wkurosawa You can #254 for an example of the code which got it going for me.

[2015-12-22 09:13] #209 closed

[2015-12-23 12:05] is-blackhole commented on #224
Have same bug, any chance to fix?

[2015-12-29 06:14] tauseefk opened #257 "Image Grid logic for different size images"
Hey the image grid doesn't look very good when the images are of different sizes. Can we have a logic in place that would align them in a better way?
The editor on medium.com aligns a wider image with a taller image and resizes them to make the grid look consistent.

[2015-12-29 15:26] klmdb opened #258 "demo not working"
Getting a 404

[2015-12-29 15:29] j0k3r commented on #258
It works for me: http://linkesch.com/medium-editor-insert-plugin/

[2015-12-29 15:32] klmdb commented on #258
Nope, nothing here:

Not Found
The requested URL /medium-editor-insert-plugin/ was not found on this server.

NOTE: not sure how it would make a difference but maybe my companies mitm ssl filtering breaks it somehow.

[2015-12-29 16:19] j0k3r commented on #258
Works still great for me: http://hurl.eu/hurls/2ab5714e1761fee0afded64d2fe9e94436eb4d1b/ef047512510548f4bb6bf0d9791f4e3bba1ec797

Might be it's on your side :confused:

[2016-01-04 22:43] oyeanuj opened #259 "Non JQuery Version"
Hi @orthes! This plugin looks great, and I was wondering if there are any plans at any point to do a non Jquery version of this?

I am using the `react-medium-editor` and was wondering the best way to use this plugin and it seemed like using JQuery would add a lot of complications. Do you have any pointers on this?

[2016-01-05 05:54] j0k3r commented on #259
We have planned to remove jQuery in the v3 (no ETA yet): https://github.com/orthes/medium-editor-insert-plugin/issues/177

[2016-01-08 12:44] nickground opened #260 "Callback function when pressing Enter and disable embed option"
Hi,

I don't use oEmbed, may you show me how to have a callback function after pressing the Enter button.

I want to generate an image tag when pasting a url into the placeholder.

Is there any way to disable the embed button? (not showing it)

[2016-01-11 02:01] ideadx commented on #248
Is this feature is coming? Be really great to pass tokens in request.

[2016-01-11 02:13] ideadx commented on #177
Can't we use dropzone js for file upload? that would help us move away from jQuery.

[2016-01-11 03:55] jackyzhai commented on #248
@ideadx you can use my fork right now for this. https://github.com/jackyzhai/medium-editor-insert-plugin

[2016-01-11 06:55] bsdo64 opened #261 "How about video embed with thumbnail image?"
In my app,
embeding video is too slow when rendering because calling some scripts.

<img width="1300" alt="2016-01-11 3 52 24" src="https://cloud.githubusercontent.com/assets/5698928/12228213/662e4402-b87b-11e5-9c11-f24e0a30578a.png">

How about changes embed video by thumbnails?
http://www.sitepoint.com/faster-youtube-embeds-javascript/

[2016-01-11 08:31] j0k3r commented on #248
@jackyzhai feel free to submit a PR !

[2016-01-11 11:26] jackyzhai commented on #248
@j0k3r https://github.com/orthes/medium-editor-insert-plugin/pull/262  Thanks!

[2016-01-11 13:53] #248 closed

[2016-01-13 13:10] satispunk commented on #258
Seems something worng with hosting provider or probably with russian rpovider

It is 404 for me (I am from Russia). But if vpn is used then it is ok.
@klmdb Try browsec chrome extension and open that page.

[2016-01-13 15:42] orthes commented on #258
Interesting. When I try VPN to change my IP address to Russian, it still works.

The code is hosted here on Github. I'll check with my domain registrar, if everything is OK on their side.

[2016-01-13 15:51] orthes commented on #258
I've just checked it with my domain registrar and they are saying that everything is OK on their side.

[2016-01-13 16:06] satispunk commented on #258
@orthes  Probably it is related to a specific internet provider that I use. That is weird but I have a workaround at least =)

[2016-01-17 07:52] ideadx opened #264 "Not showing image upload progress bar"
Everything works awesome with this plugin! Thanks:)
One issue, I can not get progress bar while image is uploading to server.
Is it inbuilt or do I need more configurations?

[2016-01-18 04:42] ideadx opened #265 "Delete Request is no longer been called"
I updated the plugin and Delete Request is no longer been called when I remove the image?

deleteScript: '{!! action('XXX\JoyController@putSomeMethod') !!}',
deleteMethod: 'PUT',
fileDeleteOptions: {
_token: "{!! Session::getToken() !!}",
id : 1
},

[2016-01-18 06:01] jackyzhai commented on #265
you need to use jquery options, such as:

                    deleteScript: '/images/delete',
                    deleteMethod: 'POST',
                    fileDeleteOptions: {
                        headers: {
                            'X-CSRF-TOKEN': Cookies.get('X-CSRF-Token')
                        }

[2016-01-18 08:20] j0k3r commented on #265
Did you read the wiki about that new configuration https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Configuration ?

[2016-01-18 19:18] harriha commented on #258
Same problem here, cannot see the site, getting a 404 error page. I'm not behind any kind of suspicious firewall myself, rest of the web works fine. Not sure if it makes a difference, but the main http://linkesch.com/ gives me a generic WebSupport web hosting error page, too.

[2016-01-18 19:52] orthes commented on #258
@harriha Thanks! Knowing that also the main linkesch.com website gives you an error helped me a lot. Can you try it one more time now?

[2016-01-18 21:54] harriha commented on #258
@orthes Hey, yeah, now things seem to work - great! Good if I managed to help with this one and you got the issue figured out.

[2016-01-19 08:07] #258 closed

[2016-01-19 11:52] ideadx commented on #265
@j0k3r @jackyzhai I have read the docs, and added the configuration above as @jackyzhai mentioned, but request has not been called.

[2016-01-19 15:14] jackyzhai commented on #265
@ideadx it seems to work on my machine. can u post ur code here?

[2016-01-19 23:24] ideadx commented on #265
here is a code:

[code]

Is there a way to log when method is running or response comes back?

similar to
[code]

[2016-01-20 01:50] jackyzhai commented on #265
@ideadx idk. I think j0k3r would have better info.
just curious. what syntax is this?
{!! Session::getToken() !!}

[2016-01-20 04:11] ideadx commented on #265
@jackyzhai Thats  Laravel Blade (a php framework)

[2016-01-20 08:14] klmdb commented on #258
Yep fixed here too. thx!

[2016-01-21 01:30] ideadx commented on #265
@j0k3r any idea to console log?

[2016-01-21 08:46] j0k3r commented on #265
I'll have a look

[2016-01-21 10:06] anilmaurya commented on #261
I am also using medium-insert-plugin and embedding video is not slow for me.

My console log look like this

![screen shot 2016-01-21 at 3 30 57 pm](https://cloud.githubusercontent.com/assets/1912864/12477201/37f246ca-c054-11e5-9f21-d7c5ade7c43e.png)

In your console log, I see every script is called 7 times, may be you are binding events 7 times (unknowingly) . May be this is the reason embedding

[2016-01-21 10:10] bsdo64 commented on #261
I have post list in one page app. In there there are more than 10 posts at one request (infinite scroll) Do you also request just 7 times while calling 10 videos?

[2016-01-21 10:18] anilmaurya commented on #261
I am not showing embedded videos on list page, instead I show thumbnail image on list page.

I show embedded video on post show page and editor.

Check this https://followme.co/anilmaurya2

[2016-01-21 10:26] anilmaurya commented on #261
Listing 10 embedded video on single page will definitely slow page loading.

I implemented http://www.sitepoint.com/faster-youtube-embeds-javascript/ in earlier version of my editor, its not tough to implement and is light weight too.

+1 for this.

[2016-01-21 10:26] bsdo64 commented on #261
Um... I'm showing posts list with all contents like facebook. I think I have to parse contents and change embeds to thumbnail image manually. Thank you anyway

[2016-01-21 10:31] anilmaurya commented on #261
@j0k3r @orthes I can work on this and send a pull request. Let me know if you are interested in this feature.

[2016-01-21 10:45] anilmaurya opened #267 "Uploading high quality image slows down typing"
When user uploads high quality image(6mb-10mb) then writing posts slows down because image is reloaded on each keystroke.

![screen shot 2016-01-21 at 4 06 06 pm](https://cloud.githubusercontent.com/assets/1912864/12478108/34f612d0-c059-11e5-8988-769550e6e502.png)

Steps to reproduce:
1. open http://linkesch.com/medium-editor-insert-plugin/
2. upload hight quality image > 6 mb
3. start typing

Rea

[2016-01-21 10:50] orthes commented on #267
Great! Thanks for finding and investigating this problem. Please submit a PR with the fix.

[2016-01-21 10:53] orthes commented on #264
Progress bar shows only if option `preview` on images addon is set to `false`. But default it is set to `true` which shows preview image instead of progress bar.

[2016-01-21 11:00] orthes commented on #257
The purpose of this plugin is to fit into your website's logic and enable you to use it with another plugins. That's why we don't provide advanced grid solution ourselves. There are many to choose from. You have multiple options how to use them:

1. You can resize images on backend during upload and return to browser a link to the resized thumbnail
2. You can hook it to `uploadCompleted` callback

[2016-01-21 11:00] #257 closed

[2016-01-21 11:03] orthes commented on #260
1. There is no callback function after pressing enter. You can use default JavaScript or jQuery events for that.
2. Disabling embeds:
[code]

[2016-01-21 11:03] #260 closed

[2016-01-21 11:04] #264 closed

[2016-01-21 11:04] #259 closed

[2016-01-21 14:51] j0k3r commented on #265
Everything works great on my side.
I've tested on the example files ([from this repo](https://github.com/orthes/medium-editor-insert-plugin/blob/master/examples/index.html)) with that config:

[code]

When I delete an image the ajax request is well sent with the additional token header:

![image](https://cloud.githubusercontent.com/assets/62333/12483682/b012d852-c056-11e5-9142-dde474e622fd.png)

S

[2016-01-22 04:14] ideadx commented on #265
Here is my full code:

https://gist.github.com/ideadx/143b768d97ba4ef5f96d

Here is file upload:
<img width="1439" alt="screen shot 2016-01-22 at 2 41 59 pm" src="https://cloud.githubusercontent.com/assets/2369963/12502261/7fe1f080-c116-11e5-92b5-9ec56da77925.png">
when I remove this files (using backspace or delete), image get removed from content but no requests get fired.

[2016-01-22 08:42] #267 closed

[2016-01-22 08:47] orthes commented on #261
@anilmaurya Yeah, if you have it, it would be great if you could submit a PR.

[2016-01-22 09:33] jackyzhai commented on #265
I've no idea why this doesn't work for u. J0k3r may have better info.
However, one thing you can do is to set up a br here and see what's wrong. It's basically just jquery ajax request.
https://github.com/orthes/medium-editor-insert-plugin/blob/adb9e9d7e3a0d0af582c33a3f5e698c3e4f95198/dist/js/medium-editor-insert-plugin.js#L1923

[2016-01-22 10:12] j0k3r commented on #265
@ideadx did you try to remove all option related to delete to use default one and see if the ajax request is launched?

[2016-01-22 10:13] j0k3r commented on #265
_sorry I double clicked on the wrong place_

[2016-01-22 12:14] ideadx commented on #265
@j0k3r I have try removing all default options but the issue is still the same!

[2016-01-22 12:28] ideadx commented on #265
I tried 4 different requests
[code]

[2016-01-22 12:36] j0k3r commented on #265
One last idea, what happen if you try to delete an image that is **already** in the dom? I mean an image that you didn't just uploaded.

[2016-01-22 12:38] ideadx commented on #265
Same issue. Let's say I upload images, save the content and try to remove
it, nothing happens.
On 22 Jan 2016 11:06 PM, "Jeremy Benoist" <notifications@github.com> wrote:

[2016-01-22 12:39] j0k3r commented on #265
I'm out of idea.
:wave:  @orthes, we need your help

[2016-01-23 08:15] ideadx commented on #265
@j0k3r Which version of jQuery you are using?  I am using: 2.1.4

[2016-01-23 08:15] ideadx commented on #265
@orthes

[2016-01-23 08:41] orthes commented on #265
@ideadx When you say that you use backspace or delete, do you mean that you select image first and then press one of those two buttons? Or do you place caret after the image and then press backspace? Because it is a known issue that deleting image together with text doesn't trigger the plugin's delete function (#228).

But if you're selecting an image by clicking on it first, then it should work.

[2016-01-23 08:45] ideadx commented on #265
OMG!

I was doing  Second: place caret after the image and then press backspace to delete image which doesn't work.

but I just selected image and try to delete and event did trigger. Oh Lorde....

[2016-01-23 08:45] ideadx commented on #265
@j0k3r @orthes

[2016-01-23 08:48] ideadx commented on #265
I think thats a critical issues (228). When you writing content  after the image and then press backspace to delete image is a natural scenario.

[2016-01-23 08:54] ideadx commented on #265
@j0k3r @jackyzhai @orthes Thanks boys.

[2016-01-23 09:06] anilmaurya commented on #261
@orthes I will work on it and send pull request in couple of days.

[2016-01-23 09:33] #265 closed

[2016-01-28 08:39] StuckInLoop commented on #222
any updates or methods to implement the buttons to the medium editor buttons? or perhaps the other way around

[2016-01-28 09:33] orthes commented on #222
@StuckInLoop Your question is totally unrelated to this issue, but here is an answer: https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Custom-addons

[2016-02-01 17:53] sanders4069 opened #269 "Trying to set this up on a Meteor project, insert button not displaying."
This is a Meteor.js project, and I downloaded the 'citizenkevin:medium-editor' package to get the .js and .css files for this project. The medium-editor works with the inline toolbar, but these medium-insert scripts are not working for some reason. I am not getting the (+) icon to appear on my web page, from what I can tell its because the the css class "medium-insert-active" is not showing up in

[2016-02-01 18:49] j0k3r commented on #269
This package `citizenkevin:medium-editor` looks really old to me ...
I think you should better ask the guy behind this package.

[2016-02-01 18:52] sanders4069 commented on #269
Perhaps. I might need to figure out out to make my own Meteor package from scratch, maybe this one is just outdated.

[2016-02-02 20:55] JonasJonny opened #270 "Insert image as base64"
Hi there.
Is it possible to insert a photo as base64 without upload to server?

[2016-02-02 21:37] orthes commented on #270
Just set `uploadScript` to `null`. Look at our demo: http://linkesch.com/medium-editor-insert-plugin/ It uses base64 without server upload.

[2016-02-02 21:37] #270 closed

[2016-02-02 23:22] JonasJonny commented on #270
Seems like it's not working properly.
POST text is without any img tag.
At the demo */upload.php script is still called.

[2016-02-04 17:52] JonasJonny commented on #270
This https://github.com/orthes/medium-editor-insert-plugin/issues/254#issuecomment-166482149 helps me find a solution how to change textarea text before form POST submit. Thanks @mitchnick
---
@orthes
[code]
I guess function above should call medium-editor.js "updateInput" after image is inserted but
`updateInput: function (target, eventObj)` is not reached

[2016-02-04 20:19] MartinMalinda opened #273 "Changing src attribute after upload"
So I'm using the uploadCompleted() hook and it works great. Problem is, If I place a code like this there:
[code]

It's of no use, because some other logic in the plugin code replaces the src yet again, with the regular response.url.

So far I could come up only with some setTimeout(() => {...}, 200) hack which works, but feels dirty.

I know I could just switch the values on the server, but I'd l

[2016-02-05 11:46] orthes commented on #273
Thanks for reporting this. I've found the problem and a fix is on it's way.

[2016-02-05 11:48] #269 closed

[2016-02-05 11:57] orthes commented on #270
I can't replicated your problem. It works for me correctly. Can you recreated it in https://jsfiddle.net/ ? Thanks.

[2016-02-05 12:13] #273 closed

[2016-02-05 12:43] smuk3c opened #275 "Link adding to the image"
Hi,

is there any option to add link to image that has been uploaded? It would be nice functionality but I can't find anything in documentation.

[2016-02-05 12:46] j0k3r commented on #275
There is no such option at the moment.

[2016-02-05 12:51] orthes commented on #275
You can program it yourself using `actions` option:

[code]

[2016-02-05 12:51] #275 closed

[2016-02-05 15:03] iulian-cricon commented on #218
Add this.moveCaret(this.$el) as seen below:

                if (this.$el.html().trim() === '' || this.$el.html().trim() === '<br>') {
                  this.$el.html($templateCache.get('/components/angular-medium-editor/dist/templates/core-empty-line.html'));
                  this.moveCaret(this.$el);
                }

[2016-02-08 16:53] iparamonau commented on #235
@j0k3r @orthes

Jeremy, Pavel - we've just realize a conceptual problem with how embeds are implemented for the insert plugin. Maybe it's worth a separate ticket, but the work to fix has already started in this one. So I'll keep the thread.

The problem is simple: all JavaScript embeds are incorrect. For example, Twitter, Instagram, Facebook, Tumblr, Pinterest, Gists - all of those are JavaScript

[2016-02-09 22:02] rpastorelle commented on #177
:+1: Would love to use this with ReactJS (and not depend on jQuery). Would also appreciate NPM support.

[2016-02-10 14:49] msoledade opened #276 "Using MediumInsert with Require.js"
First of all, we love the plugin and what it can do.

However, I looked over all the issues on Github, good ol' Google and couldn't find anything about the problem we're facing. The plugin, when used in a traditional RequireJS AMD structure, simply won't work. We tried it all, but either we have problems with the jquery.ui.widget module or we get the "Handlebars is not defined" error dispatched fr

[2016-02-10 15:17] orthes commented on #276
Can you reproduce your problem on https://jsfiddle.net/? I've successfully used the plugin with RequireJS in the past and I don't remember needing any special configuration.

[2016-02-10 16:09] msoledade commented on #276
It is a huge project based on PHP with multiple views, but I can reproduce the RequireJS structure and the JS file which imports the exported ID for medium insert.

So this is the simplified version of our requireJS bootstrap with the shim config -- I removed a lot of libraries to make it easier to read, left only the ones related to jQuery and Handlebars.

![captura de tela 2016-02-10 as 14 03 49

[2016-02-10 16:12] orthes commented on #276
Yeah, you need to require `handlebars.runtime.min`.

[2016-02-10 16:22] msoledade commented on #276
Well, still not working though. Changed all the platform Handlebars to handlebars.runtime and it still throws the Exception. Any chance I can take a look at some boilerplate just to make sure the team here isn't missing anything? And thanks again for the reply :+1:

[2016-02-10 16:39] orthes commented on #276
On my project I used something like this. I shimmed also handlebars to export as Handlebars. Maybe that's the trick.

[code]

[code]

[2016-02-10 17:32] msoledade commented on #276
That's odd... I forgot including the handlebars shim in my print, but it is there! Well, I'll keep trying here. Thanks for sharing your code.

[2016-02-11 06:17] aggied commented on #235
@iparamonau I use https://github.com/itteco/iframely on a server to generate quality embeds for an impressive amount of sites. Have you tried the PR I submitted? Does it work for you?

[2016-02-11 17:20] msoledade commented on #276
Well, it worked in the end. However, we had to assign the Handlebars variable to the window scope, doing

`window.Handlebars = Handlebars`

I'm thinking two things here:

1. Shouldn't the plugin follow the AMD structure internally, specifically in the `templates.js` file?
2. Shouldn't the plugin consider the project can be already using Handlebars? Our problem here was the conflict between our glo

[2016-02-12 08:17] orthes commented on #276
That's interesting. I was able to use the plugin on my project without this hack.

But your points are correct. For the future we're planning to get rid of as much dependencies as possible and move to pure JS (without jQuery, Handlebars, etc.). We have no ETA yet: #177

[2016-02-12 08:17] #276 closed

[2016-02-12 11:34] msoledade commented on #276
Thank you very much!

[2016-02-18 07:00] THE-Beck opened #278 "Image upload button doesn't work"
Image upload button doesn't work in Android 4.4.2(default browser). Also in Safari (5.1.7)

[2016-02-18 09:10] orthes commented on #278
Yes, mobile devices are not officially supported either by us or [medium-editor](https://github.com/yabwe/medium-editor/tree/5.14.2#browser-support) itself. When medium-editor adds support, we'll follow.

[2016-02-18 09:10] #278 closed

[2016-02-27 09:14] orthes commented on #229
Fixed in #277

[2016-02-27 09:14] #229 closed

[2016-02-27 09:34] orthes commented on #227
As @j0k3r said, medium-editor itself supports only Safari >= 8. Safari 5 is 3 years old. We're not planning to add support to versions this old.

[2016-02-27 09:34] #227 closed

[2016-02-27 09:36] #226 closed

[2016-02-27 09:39] #87 closed

[2016-03-03 18:15] noctivityinc opened #280 "Support for jQuery File Upload's deleteURL"
The new format for the response for jQuery Upload includes a ```deleteUrl``` for the image.  It makes sense that that url should be set, if returned, as the URL to use when deleting an image.

[2016-03-06 07:50] rohitpal440 opened #282 "How to load data for embeds over HTTPS instead of HTTP."
Hello there!
I want to load data from embed links on HTTPS as most of browser blocks the http request on a HTTPS website.
So when I paste a link in embed section it don't get loaded by browser like firefox or chrome. This can work only if we make request to medium.iframe.ly api over https. please help

[2016-03-09 09:28] orthes commented on #280
I don't see `deleteUrl` documented anywhere. We're not using jQuery File Upload Plugin for deleting files. We have our own `deleteScript` option: https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Configuration#images-options

What would be an advantage to use jQuery File Upload Plugin's `deleteUrl` instead?

[2016-03-09 09:36] orthes commented on #282
This happens when not using oEmbed?

I'm looking to the code and we're omitting protocols and using only `//` in embeds, which should work for both HTTP and HTTPS websites: https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/js/embeds.js#L356

At which point is HTTP link inserted to your website? Can you reproduce the problem on https://jsfiddle.net/?

[2016-03-09 14:02] noctivityinc commented on #280
You can see it here:

https://github.com/blueimp/jQuery-File-Upload/wiki/Setup#using-jquery-file-upload-ui-version-with-a-custom-server-side-upload-handler

In a RESTFul API the delete call for an object is a DELETE method call to ```/resource/:id``` but you dont know the ID until after you have created the object, which is why using the deleteURL returned from the server makes more sense.

Ive ac

[2016-03-09 14:02] #280 closed

[2016-03-14 13:51] rodrigojv opened #285 "Facebook height strange behavior"
When I insert a Facebook post, it seems like the FB.XFBML.parse() call tries to resize the iframe height after it has been displayed.

The result is that with some facebook posts, I end up with a height that causes a gap to be displayed between the post and the text that follows the post.

In the example below Facebook inserted a span with a height that is 'bigger' than the content of the iframe,

[2016-03-16 12:32] askehansen commented on #282
The issue seems to be when calling medium.iframe.ly
https://github.com/orthes/medium-editor-insert-plugin/blob/fe002ea832dceb9c91e0941b5ccac73d65165258/src/js/embeds.js#L11

Unfortunately it can't be called over https

[2016-03-16 15:36] rohitpal440 commented on #282
Ok! I've solved this issues by using changing the
`oembedProxy: 'http://medium.iframe.ly/api/oembed?iframe=1',`
to
`oembedProxy: 'https://medium.iframe.ly/api/oembed?iframe=1'&api_key=<your_api_key>,`
You can get your api key by signing it up to iframe.ly, they offer free 10000 hits per month for developer plans.

[2016-03-17 15:07] #282 closed

[2016-03-17 18:53] quape opened #287 "textarea value not updated after image inserted / manipulated"
I'm using this plugin with medium-editor on a textarea which is normally updated every time I type something in the editable.

Unfortunately, the textarea is not updated when I insert or manipulate an image using that plugin, so `editor.subscribe("editableInput")` gets called but with the old content.

What's the reason and how to solve it?

[2016-03-19 11:53] quape opened #288 "image resize before upload does not work"
Hi there,

as this plugin uses blueimp fileupload for uplading images I though I could just add this to `fileUploadOptions`:

    disableImageResize: false,
    imageMaxWidth: 400,
    imageMaxHeight: 400

(Of course I added the depending js libs to my app)
Unfortunately that does not work at all. The file is uploaded but not resized before. Are there maybe some interfering things with the preview

[2016-03-22 02:24] nikkwong opened #289 "Use AWS ManagedUpload"
I would love to be able to use this plugin with something like ```AWS.S3.ManagedUpload```.

I can overwrite the ```add``` and ```showImage``` functions but I'm not sure how to plug in to progress events if I'm not using blueimp's native XHR object.

Any ideas?

Thanks.

[2016-03-22 23:58] psypersky opened #290 "New embed option"
Hi, i made a new embed option for translating iframes into the original url when serializing the html
i named it "removeEmbedOnSerialization" (maybe i need a better name), if you think this could be added  to the lib i can improve the names and document it and make the appropriate PR. :)

https://github.com/psypersky/medium-editor-insert-plugin/commit/2cad52cd601bba74724a1fec9f734b53773031a5

[2016-03-23 08:47] j0k3r commented on #290
IMO this is a good idea to have this option on board :+1:
This means we'll have to re-embed all url when editing the content again. Like looping on all embed url and call embed function to build the iframe again, right?

Maybe name it `replaceEmbedByUrlOnSerialization` or `useEmbedUrlOnSerialization`.

[2016-03-23 09:32] orthes commented on #290
Maybe we should have an option to choose between your behavior and the current one introduced by @nleush here: #277

[2016-03-23 09:37] orthes commented on #287
How do you retrieve the content? This works for me correctly:

[code]

[2016-03-23 09:39] orthes commented on #288
No, client size resizing is not supported right now. The only option is to resize on server and return to the plugin resized imaged.

[2016-03-23 09:43] orthes commented on #289
We're using [jQuery File Upload](https://github.com/blueimp/jQuery-File-Upload) for uploading. You can use it to upload to S3 on server. Look here and search for S3 - https://github.com/blueimp/jQuery-File-Upload/wiki

[2016-03-23 09:43] #289 closed

[2016-03-23 10:00] quape commented on #288
Well, you use blueimp fileupload which supports resizing. So it should only be some little piece of code to make it work. If you give me a hint why it doesn't work out of the box I can do it.

[2016-03-23 10:02] quape commented on #287
I do the same but it's not triggered after I have inserted an image.

[2016-03-23 10:49] orthes commented on #288
I don't know how blueimp's resizing works. In our plugin we use [`Images.showImage(img, data)`](https://github.com/orthes/medium-editor-insert-plugin/blob/2.2.2/src/js/images.js#L358) function to add an image to content.

This function is called twice:

1. If you have `preview` enabled, it is called from [`Images.uploadAdd()`](https://github.com/orthes/medium-editor-insert-plugin/blob/2.2.2/src/js

[2016-03-23 10:51] orthes commented on #287
Can you reproduce your problem on https://jsfiddle.net/?

When I try it on our [demo page](http://linkesch.com/medium-editor-insert-plugin/), it works.

[2016-03-26 04:02] rohitpal440 opened #292 "How to embed images through URLs ?"
Hi!
I want to embed images using URL as source in image tag.
I know this can be done through embed option through iframely, but that is not a flexible way as it put image as below :
`<div class="medium-insert-embeds" contenteditable="false">
	<figure>
		<div class="medium-insert-embed">
			<div style="max-width: 1000px;"><div style="left: 0px; width: 100%; height: 0px; position: relative; padding-

[2016-03-30 10:11] rohitmel opened #293 "How can we add multiple custom options to addons?"
Say we want to add a button, which will do some custom action.

[2016-03-30 12:56] orthes commented on #293
Take a look here: https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Custom-addons

[2016-03-30 12:56] #293 closed

[2016-04-02 17:22] orthes commented on #292
Reasonable proposal. Feel free to implement this if you find some time.

[2016-04-02 17:36] orthes commented on #285
Can you reproduce this problem on https://jsfiddle.net/?

[2016-04-02 21:47] reeveyew opened #294 "Uncaught TypeError: $file.fileupload is not a function"
<img width="839" alt="screen shot 2016-04-02 at 22 45 59" src="https://cloud.githubusercontent.com/assets/9221973/14229191/bfac7172-f924-11e5-81c3-3b58bd716466.png">

Everything is working well (including embeding youtube videos) but not images.

When I click the upload image icon, I'll get the error:
medium-editor-insert-plugin.js:1630 Uncaught TypeError: $file.fileupload is not a function

[2016-04-02 22:13] #294 closed

[2016-04-02 22:14] reeveyew commented on #294
my bad. imported the wrong file

[2016-04-03 10:25] mulaiko opened #295 "JS error after image selection in file finider: TypeError: c.process is not a function"
Hi @orthes ,

I get "TypeError: c.process is not a function" in my web console once I select an image to upload. Any pointers on how I can resolve this?

Thanks

[2016-04-04 06:20] ankur0890 opened #296 "Editor Hangs While Uploading Bigger Images (Size wise)"
Uploaded an Image of 15 MB and editor gets hanged or behaving very slowly. You can check the same on demo page itself.Any idea why this is happening?

[2016-04-04 06:43] orthes commented on #295
I've never encountered this problem. Can you reproduce it on https://jsfiddle.net/?

[2016-04-04 06:48] orthes commented on #296
Yes, I've recently discovered this bug myself. The bug has two parts - one is in the plugin and one in medium-editor. I've fixed both here https://github.com/orthes/medium-editor-insert-plugin/pull/291 and here https://github.com/yabwe/medium-editor/pull/1022

All those fixes are in master and will be released soon. I'll release new version of the plugin right now, so you can use the fixed version

[2016-04-04 06:48] #296 closed

[2016-04-04 06:54] ankur0890 commented on #296
Thanks @orthes :) Will let you know after integrating :)

[2016-04-04 06:56] orthes commented on #296
I've released v2.2.3 just now: https://github.com/orthes/medium-editor-insert-plugin/releases/tag/2.2.3

You should see huge improvement even without the medium-editor fix.

[2016-04-04 12:34] ankur0890 commented on #296
@orthes Hi, applied the patch and still editor hangs. I am uploading image of appx 15 MB. Applied both patches ( editor and plugin ) to local code. Can you please update the demo with the latest version so that I can check if its my code that's causing the issue or plugin code?

[2016-04-04 12:39] orthes commented on #296
Ok. I'll update our demo later today. But remember to build dist files for medium-editor, because master branch doesn't have latest changes built. So even if you use master branch, you're still using old dist files. We're building dist files only when releasing a new version.

[2016-04-04 12:47] ankur0890 commented on #296
@orthes yup tested using new dist files. Checking with the App server if some issue on their side. Meanwhile please let me know when you update the demo. Thanks

[2016-04-04 13:09] rodrigojv commented on #285
I can't. Facebook tries to execute some JavaScript that is blocked by jsfiddle.

"VM365 xd_arbiter.php?version=42:1 Uncaught SecurityError: Failed to set the 'domain' property on 'Document': Assignment is forbidden for sandboxed iframes."

Here is the jsfiddle: https://jsfiddle.net/tyLthcpr/

[2016-04-04 23:48] reeveyew opened #297 "How to remove the insert buttons"
When I'm saving the content (text & images) to database, the medium-insert-buttons came along too! Wonder how to remove them?

`<div class="medium-insert-buttons" contenteditable="false" style="left: 15px; top: 273px; display: none;">
    <a class="medium-insert-buttons-show">+</a>
    <ul class="medium-insert-buttons-addons" style="display: none">
            <li><a data-addon="images" data-actio

[2016-04-05 06:56] orthes commented on #297
Duplicate: #23

[2016-04-05 06:56] #297 closed

[2016-04-05 07:51] orthes commented on #296
I updated our demo to the latest version: http://linkesch.com/medium-editor-insert-plugin/

[2016-04-05 09:54] ankur0890 commented on #296
@orthes 404 on demo page

[2016-04-05 09:58] orthes commented on #296
Github has some issues: https://status.github.com/messages

I also had 404 for a while. Now it works.

[2016-04-05 11:35] ankur0890 commented on #296
@orhanveli  It still not working. Its getting hanged for big images. Can you please try to write something after uploading big image

[2016-04-05 12:03] orthes commented on #296
The bug is in medium-editor. My bugfix wasn't released yet. When you try to profile it you will see that on every keystroke medium-editor's `Events.updateInput` is called and it takes really long time when huge images are being uploaded. It has nothing to do with the plugin at this point.

I've fixed the editor and I've cut this lag time to half, so the editor is usable during upload.

<img width=

[2016-04-05 13:51] orthes commented on #296
medium-editor v5.15.1 containing the fix has been just released: https://github.com/yabwe/medium-editor/releases/tag/5.15.1

[2016-04-05 17:44] ankur0890 commented on #296
@orthes  thanks for  your help but still in no luck :( Again its getting stuck a lot. Needs to restrict the Image size I think for production use

[2016-04-05 20:05] JoshZA opened #299 "Add Webpack Support"
Medium-Editor is webpack compatible and published to NPM.

Would be amazing if this plugin was too

Right now we're forced to use https://github.com/joar/medium-editor-insert-plugin which is fairly outdated

[2016-04-06 07:34] orthes commented on #299
You're absolutely right. Back in a day when I started this plugin, there was a clear division - bower was used for browsers and npm for nodejs. Since then things definitely changed and we need to be on npm and compatible with webpack and amd...

I'll wrap the plugin into this: https://github.com/umdjs/umd/blob/master/templates/jqueryPlugin.js

[2016-04-06 14:15] matthiaskrieft commented on #249
@bsdo64 Could you please post the full react-component that you ended up with? Thx in advance!

[2016-04-07 08:35] #299 closed

[2016-04-07 08:37] orthes commented on #188
Added in #283

[2016-04-07 08:37] #188 closed

[2016-04-07 10:22] orthes commented on #224
Looks like this is fixed

[2016-04-07 10:22] #224 closed

[2016-04-07 10:27] orthes commented on #285
I couldn't reproduce the problem. It works for me correctly. But if it's like you said that:

... Then you should report it to Facebook. We don't do anything with embedded iframes once we insert them.

[2016-04-07 10:27] #285 closed

[2016-04-07 19:44] psypersky commented on #177
Maybe using a small lib with virtual diff like RiotJS to make it faster since you don't access the DOM that much and its super easy to have references and events on different components?

[2016-04-08 01:27] zhaoyao91 opened #304 "how to use with npm?"
Now the npm package `medium-editor-insert-plugin` is gone, I don't konw how to use it with npm.
More, looking through this doc, I found it difficult to install this package with so many dependencies.

[2016-04-08 06:34] orthes commented on #304
We've never been published on npm yet. But starting the nest release, we'll finally be: https://github.com/orthes/medium-editor-insert-plugin/pull/300

If you've found medium-editor-insert-plugin on npm, it wasn't official.

Regarding dependencies, I started working on vanilla JS version without any dependencies: https://github.com/orthes/medium-editor-insert-plugin/issues/177. I hope I'll be able

[2016-04-08 06:34] #304 closed

[2016-04-08 07:03] orthes commented on #177
Here is the current state of v3.0: I started working on completely rewriting the plugin to vanilla JS, or ES2015 to be precise (transpiled with Babel). I ditched all the dependencies and we'll use as much HTML5 native function as possible.

Another big difference is that now the plugin will be created as regular medium-editor extension which will allow much closer integration. The reason why this

[2016-04-08 07:05] #290 closed

[2016-04-11 08:00] RifRaf44 opened #305 "After inserting an image, the cursor is placed on top"
When I insert an image and start typing, the text is placed above the image.

I already have a fix for it so I will submit a pull request soon!

[2016-04-11 16:47] #305 closed

[2016-04-11 16:50] #228 closed

[2016-04-11 17:57] #287 closed

[2016-04-12 04:02] psypersky opened #308 "Disable H1, H2, quotes on embed's captions"
Hello, i've been trying to disable those options on captions but im not sure of how to do it.
Could some one with more experience on the codebase point me in the right direction? Thanks.

[2016-04-12 04:49] jomarbarnobal opened #309 "File to import not found or unreadable: bootstrap"
after install in rails 4.2 im having this error
any work arround ?

thanks

[2016-04-12 05:28] j0k3r commented on #309
Which error?

[2016-04-12 07:50] orthes commented on #309
We're not providing code for backend. We're using [blueimp's jQuery-File-Upload](https://github.com/blueimp/jQuery-File-Upload) which handles the upload. Take a look there and see if somebody ran into to the same problem as you.

[2016-04-12 07:50] #309 closed

[2016-04-12 08:49] orthes commented on #308
Do you want to disable whole toolbar or just some buttons? Either way, right now it's not possible, and you'll have to override medium-editor. You can take a look here: https://github.com/orthes/medium-editor-insert-plugin/blob/2.2.4/src/js/core.js#L70 and here: https://github.com/orthes/medium-editor-insert-plugin/blob/2.2.4/src/js/core.js#L187 and see how we extend the editor. You'll have to cha

[2016-04-12 08:49] #308 closed

[2016-04-12 09:02] orthes commented on #177
[v2.3.0](https://github.com/orthes/medium-editor-insert-plugin/releases/tag/2.3.0) was just released and we're finally on npm: https://www.npmjs.com/package/medium-editor-insert-plugin

*It's not related to v3.0, but you asked about it.*

[2016-04-12 09:03] orthes commented on #304
[v2.3.0](https://github.com/orthes/medium-editor-insert-plugin/releases/tag/2.3.0) was just released and we're finally on npm: https://www.npmjs.com/package/medium-editor-insert-plugin

[2016-04-12 09:03] orthes commented on #299
[v2.3.0](https://github.com/orthes/medium-editor-insert-plugin/releases/tag/2.3.0) was just released and we're finally on npm: https://www.npmjs.com/package/medium-editor-insert-plugin

[2016-04-13 09:33] mulaiko opened #311 "Full width banner images"
I'd like to have the option to stretch the image to the full width of the page.
Is this planned for a future release? Is there some other additional plugin I can use to achieve this?

Thank you for the work you have done on this library.

Cheers
Mulaiko

[2016-04-13 09:41] orthes commented on #311
It's piece :cake:. Those image styles are meant to be extended. You can add your own like this:

[code]

Example: https://github.com/orthes/medium-editor-insert-plugin/blob/gh-pages/index.html#L155

[2016-04-13 09:41] #311 closed

[2016-04-13 10:01] j0k3r commented on #295
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open if it still occurs.

[2016-04-13 10:01] #295 closed

[2016-04-13 10:42] entere opened #312 "How to delete one image"
when delete one image,all the images  deleteed

[2016-04-13 11:49] j0k3r commented on #312
Please provide a JSBin / jsfiddle containing a set of reproducible steps.

[2016-04-15 10:40] sdqwerty opened #313 "Handlebar, MediumEditor not defined reference error"
Hello, I am really new, so perhaps the error exposed below is my fail. However, here is it:
The modules are managed with RequireJS.

First I got a Handlebars error, same as described [here](https://github.com/orthes/medium-editor-insert-plugin/issues/27). Solutions like "shim with exports" and "change Handlebars library to handlebars.runtime" did not work for me.

Then if the first one is got solv

[2016-04-15 12:50] sdqwerty commented on #313
I've added a [pull request](https://github.com/orthes/medium-editor-insert-plugin/pull/314) to solve it.

[2016-04-15 12:50] #313 closed

[2016-04-16 08:42] Sandip-pal opened #315 "cursor not moving properly with the image"
Cursor not moving to the right side of the image or left side of the image. Always it is moving down the image.

[2016-04-17 09:44] orthes commented on #315
I'm not sure I understand what you mean. Can you post a GIF or even better to reproduce it on http://jsfiddle.net or similar service?

[2016-04-18 11:25] Sandip-pal opened #317 "Image dragging is not working."
I have embedded an image in my content. When I am trying to drag the image in between two paragraphs or any where in the screen, it is not dragging to that position.

[2016-04-18 11:30] orthes commented on #317
This feature is currently not supported.

[2016-04-20 11:13] ankur0890 opened #318 "Making one line caption and new editor paragraph on enter press"
Right now caption is multiline creating multiple paragraphs inside figcaptions. How can I restrict the caption to one line and on enter click it should create next para on editor.

[2016-04-21 07:24] mulaiko commented on #311
Hi @orthes

Thanks for your reply.

I think I may have worded my initial comment incorrectly.

What I'm asking for is the actual "full width image stretch" functionality. I want to be able to embed an image that then can be stretched to the full width of the page.

Cheers

[2016-04-21 09:35] orthes commented on #311
I understand. There is no built-in functionality like this and there'll never be. The plugin is meant to be extended and you should add your own styles. There is no universal solution for this. Every website has it's own layout, etc. You have to create this yourself.

Just add a new style like I've shown you above. This will create a new icon in toolbar and when you click on it, it will add this c

[2016-04-21 20:30] kargnas commented on #311
@orthes There is just a 'medium-insert-images' when image attached. A 'medium-insert-images-wide' class will added at least click the image alignment toolbar. (Maybe this is bug, need to create issue)

[2016-04-23 14:12] orthes commented on #318
There is no such option right now.

[2016-04-24 15:42] jomarbarnobal commented on #270
Good @orthes
i use carrierwavebase64 and and set uploadScript to null but still see this

jquery.js:9664 POST http://linkesch.com/medium-editor-insert-plugin/upload.php 405 (Method Not Allowed)

even in the demo is this normal ?

[2016-04-25 17:02] TrkiSF2 commented on #304
@orthes ahoj, unfortunately this plugin is kind of impossible to use with npm and webpack. Spent several hours with it. The package dependencies are not loaded properly and using hacks like adding alias for webpack to resolve them is just a hacky way of doing it and at the end it didn't even helped. Did you try to set it up using npm? Let me know if you want me to report an issue with more info.

[2016-04-25 20:10] xar opened #319 "Usage with browserify"
Hello,

really good work with plugin. I have only one question. How to use plugin with browserify. I have installed it via npm with dependencies. Then i required it as:
`var MediumInsert = require('medium-editor-insert-plugin');` .
I have also jquery on
`window.$ = require('jquery');` but i still get
`Uncaught TypeError: $(...).mediumInsert is not a function`

[2016-04-25 21:47] xar commented on #319
I managed to get it work:
`
var MediumEditor = require('medium-editor');
var Handlebars = require('handlebars');
global.jQuery  = require('jquery');
var sortable = require('jquery-sortable');
require('blueimp-file-upload');
require('medium-editor-insert-plugin')(jQuery);

var editor = new MediumEditor('.editable');
      $('.editable').mediumInsert({
                editor: editor
       });
`

Bu

[2016-04-26 09:04] orthes commented on #304
@TrkiSF2 Nazdar! Webpack problems are completely my fault. I haven't tested it properly. It should be fixed now in v2.3.2. I've also added a page to our documentation regarding webpack: https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Using-with-webpack

Let me know if it helped.

[2016-04-26 09:07] orthes commented on #319
I made some changes to our UMD setup in v2.3.2. You can check that out. I've also added a page to our documentation regarding webpack: https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Using-with-webpack. It should be helpful also for browserify.

Basically, what you should be able to do now is this:

[code]

[2016-04-26 09:07] #319 closed

[2016-04-26 09:31] TrkiSF2 commented on #304
@orthes I run into an issue following the page you linked. Do you have any idea?

![screenshot from 2016-04-26 11 25 13](https://cloud.githubusercontent.com/assets/3595242/14813412/d93636ac-0ba1-11e6-8e52-38de5f959b19.png)

      "dependencies": {
            "medium-editor-insert-plugin": "^2.3.2",

     "devDependencies": {
         "imports-loader": "^0.6.5",
         "webpack-dev-server": "^1.

[2016-04-26 10:02] orthes commented on #304
Hm. Looks like webpack can't find `blueimp-file-upload` in `node_modules` folder. Can you make sure that the `blueimp-file-upload` is installed? It should be installed as one of the plugin's dependencies.

[2016-04-26 11:46] TrkiSF2 commented on #304
yes it's a node module inside of medium-editor-insert-plugin.

[2016-04-28 17:21] TrkiSF2 commented on #304
@orthes any idea?

[2016-04-28 18:21] TrkiSF2 commented on #304
@orthes what npm, webpack version are u using? I tried to play with it again today and now I am running on webpack 1.13.0 and npm 3.8.7 now the loading ... almost works.

When I click to choose the picture from the computer I get: "Uncaught TypeError: undefined is not a function"

![screenshot from 2016-04-28 20 20 30](https://cloud.githubusercontent.com/assets/3595242/14896584/be2708c6-0d7e-11e6-

[2016-04-28 18:52] TrkiSF2 commented on #304
I hope I won't sound rude but what's the point of coupling this PLUGIN with a templating library? This whole thing contains like 3 buttons...

It doesn't make any sense imo... to make templates like images-fileupload.hbs ?

![screenshot from 2016-04-28 20 42 21](https://cloud.githubusercontent.com/assets/3595242/14897599/03e8d9d0-0d83-11e6-9ac6-d92e88d464e5.png)

Is there any benefit I am overlook

[2016-04-29 07:59] orthes commented on #304
I'm using webpack v1.13.0 and npm v3.7.3 without any errors.

Using Handlebars was bad decision at the beginning. To understand that you need to go back to year 2013 when this project started. De facto default and the most popular framework was Backbone.js, so jQuery and Handlebars were part of huge number of projects. So people didn't mind that back then so much. Also in the beginning it looked l

[2016-04-29 17:27] TrkiSF2 commented on #304
Okay I see thx. Hmmm until then, do u have any idea what could be failing?

[2016-04-30 07:54] orthes commented on #304
I'll get rid of handlebars and move HTML back to JS code directly. I'll try to do it this weekend. Or if you feel like it, you can give it a try yourself and submit a PR.

[2016-04-30 09:51] TrkiSF2 commented on #304
To be honest yesterday I tried again to setup handlebar loading and read official doc and try to do some stuff with it but without success so can't unfortunately invest more time into this sorry. If you can do that would be totally amazing! Som videl, ze si freelancer som si Ta pridal na FB robim na jednom vacsom projekte postavenom na reacte tak teoreticky ti viem dohodit nejaku pracu riesenu cez

[2016-05-04 11:39] ankur0890 opened #321 "Text Removal on After Double Click on Video Insert"
Steps To Reproduce:

1. Click on Video Addition
2. Write some text or url
3. Double Click on that line
'Medium-insert-embeds' node will get removed.

[2016-05-09 19:05] jomarbarnobal commented on #27
@tezzataz

Im using Div for medium editor then bind it into content form like this

`<% form @path do |f| %>
  #hide input
   <%= f.hidden_field :content, html: { id: "content" } %>
    #below is the div for medium `editor`
   <div id="create" data-field-id="content">
     <%= @post.content.try(:html_safe) %>
   </div>
  <%= f.submit %>
<% end %>`

and in my js i bind the input and listen to prope

[2016-05-10 11:57] CraigLovelock opened #322 "Any more information on the delete button URL?"
I have everything working and using S3 along with Laravel for my app. I have a routes set up for deleting images, but cant see how to link the delete button url to the selected image?

The docs just show 'delete.php' as the URL, before I start hacking my way through is there already some way of passing in an image attr or similiar to the delete url? Or how have others done it?

[2016-05-10 15:12] silian1988 opened #323 "How to upload images with Flask/Python"
I want to know how to upload images to my server with Flask/Python.
My program is:

[code]

When I add a image and submit, I found the "description" in mysql is
`<p class="">12</p><p class=""><br></p>`
the `<img>`tags disappeared.

I have checked the docs at

[code]

Now , I prepare write upload.py to handle my upload images. How can I get the image information in the editor?

[2016-05-11 01:42] makeitrein opened #324 "Webpack - Unable to make custom Addons"
**Uncaught TypeError: Cannot read property 'src/js/templates/core-empty-line.hbs' of undefined
**
The error occurs in Core.prototype.clean function, specifically this line:

Here's a snapshot of the "this" value:
<img width="1191" alt="screen shot 2016-05-10 at 6 02 40 pm" src="https://cloud.githubusercontent.com/assets/2068463/15167012/b4f0cb02-16d9-11e6-820c-507c6c8f9d7c.png">

Background:
- Web

[2016-05-15 20:58] orhanveli opened #326 "Adding an image to end of the editable are adds an unremovable paragraph after image"
When I add an image to end of the text in the editable are causes insert an extra paragraph and if you want to remove this p by backspace it removes image that you added too.

What logic we should run for this issue?

[2016-05-17 10:07] j0k3r commented on #326
I guess that adding this empty paragraph allow user to continue writing after the image by letting him getting the focus.
But I've no idea why when you remove it, it also remove the image.

Maybe @orthes has a better idea.

[2016-05-19 14:00] vimal-g opened #327 "video issues not storing in db"
i newly tried medium editor insert plugin when i paste video URL form YouTube its showing preview after i published its not showing video preview and also not saving in db. i am using chrome browser showing console like www-embed-player.js:612  XHR failed loading: GET "chrome-extension://fmfcbgdsogabcbclcofgddsadocippekhfcmgfjaswerer/cast_sender.js".i need to store data and video embed with thumbn

[2016-05-22 04:26] injectless commented on #270
Same problem here!
Setted uploadscript to null and it's still doing it.

[2016-05-22 08:11] JonasJonny commented on #270
[code]

[2016-05-22 18:37] injectless opened #328 "Content dissapears on click"
It's a weird behaviour. It must be in someplace inside _this_ library, _medium-insert-plugin_ or _medium-editor_ itself.

 [See it running: http://codepen.io/Mr-K/pen/vGbaMy](http://codepen.io/Mr-K/pen/vGbaMy)

 As you can see, we have _multiple instances_ of medium-editor working which each contains an initial value. The content is binded, and it seems ready to edit.

 So far so good.
 **BUT** wh

[2016-05-23 15:51] injectless commented on #328
Any clues?

[2016-05-24 14:08] ankur0890 commented on #296
Soved this issue. Instead of showing base64,We can use blob url and on upload replace that with the server url. Base64 url takes lot of time for big images on browser that's why it's hanging thr editor.

[2016-05-24 16:55] evilc0des opened #329 "The file upload request is getting stalled using the plugin in Node on AWS"

[2016-05-25 04:30] injectless commented on #328
The problem is in this library.
Without including it, it works just fine.

[2016-05-25 06:09] #329 closed

[2016-05-31 08:11] nahid opened #330 "How to add code snippet"
Its really awesome, I didn't find any process to add code snippet. How can I do it?

[2016-06-12 19:51] mikebronner opened #331 "JS Errors in Console"
I'm getting the following JS errors in the browser console on mouse-over (first error) and mouse-out (second error) on any of the insert-plugin icons. Further, not sure if this is related or not, the buttons are not styled the same as the main medium-editor plugin (they are blue, seem to be styled as links) instead of the theme color chosen by the medium-editor theme.

![screen shot 2016-06-12 at

[2016-06-12 20:54] brunjick commented on #331
Same here...

[2016-06-13 13:04] bumblebeeman commented on #54
@orthes Does this work now? I would find it really useful!

Thanks

[2016-06-14 03:07] jbrozena22 opened #332 "Embeds in 3.0?"
Hi, just wondering if there were any plans on adding the youtube/vimeo/etc embed code to the 3.0 branch? I really love the lack of dependencies in 3.0, but as of now there are only placeholders for the embed code.

I tried seeing if it could be easily ported over from the 2.3 version, but it appears 3.0 is a complete overhaul with completely different javascript styling.

Let me know! Thanks.

[2016-06-14 06:42] orthes commented on #332
Hey @jbrozena22! I'm happy that you love the new 3.0 approach. As you know, programming style and skills evolve by time, but when you have an open source project, sometimes it's hard to keep up with the latest trends and knowledge and remain backwards compatible at the same time. That's why I decided to completely rewrite the plugin, because it's easier than to just refactor.

Sadly, I haven't had

[2016-06-14 06:42] #332 closed

[2016-06-14 06:44] orthes commented on #330
You can create your own addon for that: https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Custom-addons

The most important function is `CustomAddon.prototype.add` which is called when you click on the addon button. There you can do whatever you want.

[2016-06-14 06:44] #330 closed

[2016-06-14 06:48] orthes commented on #328
You have a lot of additional code in your codepen example. Can you verify that even if you strip everything and leave only MediumEditor + plugin, the bug is still there?

[2016-06-14 06:50] orthes commented on #327
How do you save the content? You should use `editor.serialize()`

[2016-06-14 06:55] orthes commented on #326
Exactly like @j0k3r wrote. If you add an image at the very end of the editor, you need to have an extra paragraph created under it in order to be able to continue writing. Without that you would be stuck with the image and no text could be added under it.

And logic behind removing image when pressing backspace in that paragraph is also simple. Say you're writing simple text in any text editor, ev

[2016-06-14 06:55] #326 closed

[2016-06-14 07:05] orthes commented on #323
Can you reproduce your problem on https://jsfiddle.net/? Also what versions of the editor and the plugin do you use?

[2016-06-14 07:08] orthes commented on #322
File name is sent along with the request: https://github.com/orthes/medium-editor-insert-plugin/blob/master/src/js/images.js#L577

If you need more, you can use `fileDeleteOptions` to extend/override default AJAX configuration.

[2016-06-14 07:08] #322 closed

[2016-06-14 09:41] smalluban commented on #331
I checked medium-editor releases and problem starts with `^5.19.1` version. I think it is related with `Add feature for toggling anchor preview for empty or # links` feature added in this version. It should be fixed in `5.20` but the problem still exists.

[2016-06-14 16:17] nahid commented on #330
Thank you so much

[2016-06-16 03:17] mikebronner commented on #294
I'm getting the same error midway through the project ... can you provide more details as to which file was wrong and how you corrected it? Im browserifying the npm package, and it **should** pull in all its dependencies, so not sure what I'm doing wrong. Thanks!

[2016-06-17 03:01] mikebronner opened #334 "TypeError: $file.fileupload is not a function."
Similar or same as #294 -- but that issue is closed and a fix isn't detailed. What happens is that as soon as I click on the image icon to upload an image, the following error is thrown in the browser console:

[code]

My browserify implementation:
[code]

And the javascript on the page:
[code]

And here the HTML:
[code]

Any ideas how to work around this? Nothing I've tried seems to fix the issue

[2016-06-17 03:42] mikebronner opened #335 "Impliment activity indicator?"
I didn't see any documentation in the wiki on how to best implement an activity indicator for upload and delete activity? I was hoping for some callback functions I could use that would be triggered when the upload or delete request is kicked off, and when they complete, to easily show and hide and spinner. Any thoughts?

[2016-06-17 12:35] linpekka commented on #236
I got the same error when the jquery dependencies in my project was messed up.

[2016-06-18 02:39] mikebronner opened #336 "Limit Image Upload Count"
Forgive me if this has been covered elsewhere, but is it possible to limit the number of images uploadable (also taking into account the images that may already exist) in a given editor field?

For example, i would like to limit the uploadability to one image for a specific editor field.

Thanks :)

[2016-06-18 02:47] mikebronner commented on #13
Is there a way we can disable just the adding of more images, but retain the functionality to keep editing existing images? Thanks! :)

[2016-06-21 12:16] Xurma2 opened #337 "uploadCompleted doesnt work."
[code]

The data is transmitted to the server and returns the response, but the console.log () is not called, where I could be wrong?

[2016-06-27 20:26] jcalfee opened #338 "Can we plugin to react?"
I'm using this component: [react-medium-editor](https://github.com/wangzuo/react-medium-editor/blob/6e1491aef56d1102cc3235637b61d2f618c0c2d5/lib/editor.js#L26) .. You can see on that line it assepts a pass-through `options` parameter.  So the question is:

Can your cool insert plugin be installed via Medium options.extensions?
`new MediumEditor(div, {options: extensions: {...}})`)

A side note:  I

[2016-06-27 21:41] jcalfee opened #339 "Module not found: jquery.ui.widget"
Having installed all dependencies: `npm install medium-editor-insert-plugin --save`

I still see this error:
[code]

This is under babel 6.8.0...  This appears to be an issue at blueimp-file-upload.  Do you agree?  They have issues disabled there so some feedback is appreciated.

[2016-06-28 18:59] jcalfee commented on #338
I think this works as follows:
[code]

[2016-06-28 18:59] #338 closed

[2016-06-29 06:48] ramtml opened #340 "on click add image in medium editor insert image"
First of all Thx for the great plugin.

And i would like to add an image when user click on a div. How could i achieve this ?? Is it possible to do with medium editor js??

Also i would like to upload an image from editor tool bar too...

[2016-06-29 16:19] jcalfee opened #341 "Serialized content contains `<div class="medium-insert-images-progress"></div>`"
After an image upload, the serilized content still has a progress div in it:
[code]

[2016-06-29 16:19] jcalfee commented on #341
2.3.2

[2016-06-29 21:25] injectless opened #342 "Toolbar - How"
![screenshot_2016-06-29_18-18-41](https://cloud.githubusercontent.com/assets/12424545/16469172/f133210a-3e25-11e6-888e-348f987752f4.png)

Hi.
I'm trying to do something like above. I know medium-editor works with extensions, and this is one..
Tried to looked at the code, but with all the other libraries and all, I couldn't find what I need.

I need a custom toolbar for elements, like this plugin d

[2016-06-30 15:01] jcalfee commented on #341
Looks like this can be removed too:  ` class="medium-insert-images medium-insert-active"`

[2016-07-02 14:14] injectless opened #343 "Align in 3.0"
Hi everyone,
Does the 3.0 works?

![screenshot_2016-07-02_11-07-40](https://cloud.githubusercontent.com/assets/12424545/16540735/4bd23cd8-4045-11e6-941d-392426648d10.png)

### This is what it does:

- [x] Add image (the image appends always in the center, with figure tags)
- [ ] Align the image (it shows the buttons, but they do nothing)
- [ ] Youtube Video -> Embeds. The icon to add it is there,

[2016-07-02 21:55] injectless opened #344 "Closing in 3.0"
Hello again,
It's like the twentieth issue I open here, I'm starting to wonder if I came too far.

I traded my old bugs for a whole set of new ones.
^: not quiet, I still need help with the last issue.

I have the following situation using the new 3.0 branch:

![orthes1](https://cloud.githubusercontent.com/assets/12424545/16542581/fe4697f8-4084-11e6-8380-dec2bc2326cc.png)

Amazing, adding a image

[2016-07-03 17:52] injectless commented on #344
@orthes can you help me?
no one but you knows the code better.
please.

[2016-07-04 06:37] orthes commented on #343
Hi @injectless. I see that you discovered our 3.0 branch. Unfortunately, v3.0 is not ready. As you can see in releases, v3.0 has not been released yet. So the branch you've discovered is just a work in progress.

What is done is basic scaffolding for the rest of the extension, image uploading, basic toolbar that doesn't work yet and placeholder for embeds.

So you've pretty much found what it does

[2016-07-04 06:37] #343 closed

[2016-07-04 06:38] orthes commented on #344
Related to this: https://github.com/orthes/medium-editor-insert-plugin/issues/343

Branch 3.0 is far from being ready. It's just a WIP.

[2016-07-04 06:38] #344 closed

[2016-07-04 06:42] orthes commented on #342
This is a question for medium-editor, not for this plugin. But you can create your own extension (custom-toolbar or whatever) and this extension would extend the built-in medium-editor toolbar, or you can duplicate the built-in toolbar and change what you need.

The first option is what I've done here - https://github.com/orthes/medium-editor-insert-plugin/blob/3.0/src/js/Toolbar.js - and the new

[2016-07-04 06:42] #342 closed

[2016-07-04 06:44] orthes commented on #341
You can create a pull request with a fix. Just update this function to remove what's not needed: https://github.com/orthes/medium-editor-insert-plugin/blob/c49bc918e7317fd876315f179f811c51f397e238/src/js/images.js#L172

[2016-07-04 06:49] orthes commented on #340
This is not possible right now. But you can do it yourself. Just listen for clicks on divs and fire clicking on plugin buttons yourself. Something like this:

[code]

This is super basic example. You will have to make sure that the div that you want to upload images to has `.medium-insert-active` class, because that's how the plugin knows what is the active element.

For uploading from toolbar you

[2016-07-04 06:49] #340 closed

[2016-07-04 06:52] orthes commented on #336
No, this is not possible right now.

[2016-07-04 06:55] orthes commented on #334
I use webpack instead of browserify, so I didn't check it. Did you find out what was wrong? Can you submit a pull request?

This is the place to look at: https://github.com/orthes/medium-editor-insert-plugin/blob/0de3f910136803347d63664a1a9b1fe15852c1bc/src/wrappers/start.js

[2016-07-04 07:23] injectless commented on #343
Wait!

Just, please.. give me a hint, something to just make the toolbar for align the image work, that's all I ask. I will love you forever.

[code]
Now, I guess the selected image adds a class somewhere ¿?

[2016-07-04 07:29] injectless commented on #344
I figured. I think I fixed the tree problem!
I'm going to test it 'cause it gave me trouble a few attempts ago.

I left you a message in the other issue, I need to know how to select the text, how to add it a class or something to the image to make it align. That's really important and it doesn't seem to be hard.

[2016-07-04 20:27] injectless commented on #344
For anyone who might be in the same position as me, this fix it:
[code]

Now, what this does is completely remove the function @orthes added: The button will show always, even if you are writing text (which, with the code above, when you writing or the cursor is in a element which has text, the button won't show up).

For me, this is just fine.

[2016-07-05 16:52] jcalfee commented on #339
This just required a restart of nodejs...

[2016-07-05 16:52] #339 closed

[2016-07-05 19:00] jcalfee opened #345 "Mouse movement triggers errors"
As the mouse pointer moves over the + icon:

![image](https://cloud.githubusercontent.com/assets/204121/16596108/01cfa0f6-42b8-11e6-8eb1-209ece9b5635.png)

The mouse move events trigger these errors:

![image](https://cloud.githubusercontent.com/assets/204121/16596133/2593cbb6-42b8-11e6-8b98-aea2839c83ba.png)

[code]
The first error is `medium-editor.js:4042 Uncaught TypeError: Cannot read propert

[2016-07-06 14:15] jcalfee commented on #345
Is it just me or everyone?  So I know to investigate more .. thank you

[2016-07-06 18:41] jcalfee opened #346 "Options table is cut off"
https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Configuration#general-options

![image](https://cloud.githubusercontent.com/assets/204121/16630245/3872d9b2-437f-11e6-8007-5dab12130fdd.png)

This is in recent versions of FF and Chrome.

[2016-07-06 18:43] jcalfee commented on #346
One work around is to uncheck display: block:
![image](https://cloud.githubusercontent.com/assets/204121/16630329/8e9642ac-437f-11e6-849b-153c60c965f7.png)

[2016-07-06 21:43] lauranjansen commented on #345
I'm seeing this as well after trying to upgrade the plugin to the most recent version, same errors, same lines in the code.

[2016-07-06 21:54] lauranjansen commented on #346
This is a result of the way github displays tables, not an issue with this project.

[2016-07-06 22:24] lauranjansen commented on #345
Downgrading Medium Editor to 5.18.0 seems to have solved this error, not sure what's going on...

[2016-07-07 15:11] lauranjansen commented on #345
Duplicate of https://github.com/orthes/medium-editor-insert-plugin/issues/331

[2016-07-07 15:51] jcalfee opened #347 "Question: How to ensure images are uploaded successfully before allowing a post to be submitted"
I see two options but I'm not clear on either.  Do you have an image upload guide?

If not, this is how a newbie might attempt this..  Hopefully I'm missing something obvious:

Requirements: ensure images are done uploading, don't submit bulky <img data in the post, and ensure what is remove from the post is removed from the server.

a) Preview mode on

Images immediately go into a `<img src="data

[2016-07-07 15:52] jcalfee commented on #347
It should be possible to retry failed uploads..

[2016-07-07 17:01] jcalfee commented on #347
I think I see how this works.. I'll close for now.. The image shows up now and I can see it deleting.  I did set preview off at first to get going and simplify testing.  An example like this might really help:
[code]

[2016-07-07 17:01] #347 closed

[2016-07-07 17:04] jcalfee commented on #346
Ok .. Better work-around:  scroll right..  I did not see that scrollbar.

[2016-07-07 17:04] #346 closed

[2016-07-08 00:28] nmielnik commented on #343
@injectless assuming that this plugin isn't doing anything to change what happens when toolbar buttons are clicked, if you're just overriding these options in buttons, the click of the button will be handled [here](https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/button.js#L163-L172).

If you don't override it, it will ultimately call `execAction()` with the value of the `actio

[2016-07-08 00:42] nmielnik commented on #331
@mikebronner @brunjick @smalluban @jcalfee @lauranjansen can you try using the latest version of medium-editor, and when instantiating it pass the `anchorPreview.showOnEmptyLink` option as `false`?

[code]

I believe this will be a workaround to let you upgrade to the latest version.  The one side-effect will be that if you have any anchors in your editors that have an empty `href` or `href="#"`,

[2016-07-08 00:43] nmielnik commented on #345
@jcalfee @lauranjansen see my recommended workaround in #331.  Could you close this issue since it's a duplicate?

[2016-07-08 00:56] #345 closed

[2016-07-08 01:01] jcalfee commented on #331
Error still happens with `showOnEmptyLinks: false`.  I think the errors are not too bad though, they don't seem to cause a problem.

[2016-07-08 12:56] lauranjansen opened #348 "Data-embed-code not properly escaped"
Medium Editor 5.21.0 / Insert Plugin 2.3.2:

When saving the content from the editor, and then displaying it, the data-embed-code attribute is not escaped properly, leading to layout issues in the rest of the page. It essentially renders both the actual iframe and the iframe that should be part of the string-only embed code that shouldn't be rendered.

<img width="1418" alt="screen shot 2016-07-08

[2016-07-08 13:06] lauranjansen commented on #331
Workaround seems to have solved it for me, thanks!

[2016-07-11 17:24] nicooprat commented on #177
Hi, do you plan to work on v3 again? Looks promising! ;)

[2016-07-11 18:13] gabrielpeixoto commented on #341
I tried to use the latest version of medium editor but I cannot got it to work. I tried all the versions but the only version that worked was the version 5.16.1.

[2016-07-12 16:31] jcalfee opened #349 "Please document the maxFileSize option"
You document maxFileSizeMessage but looks like it forgets to mention maxFileSize.

[2016-07-12 16:44] jcalfee opened #350 "Add configurable alert callback..."
Would be nice if we could use our own decorated alert dialog.. The browser alert tends to lock everything up and may not match well with the medium style editor.  A simple alert callback should do the trick.
[code]

![image](https://cloud.githubusercontent.com/assets/204121/16775330/bb33102e-4825-11e6-8207-2023ea90be49.png)

[2016-07-12 18:53] mage007 opened #351 "show custom UI when the file is not a valid format or exceeds the maximum size?"
I have a use case that needs to show customized UI popup when the file format is not valid or file size is too large. Currently the plugin only shows an alert box to show the invalid status.

Is there a way to do it?

Seems like File Processing Options in https://github.com/blueimp/jQuery-File-Upload/wiki/Options already provides the ability to add customized validation functions.

[2016-07-13 14:33] lopete opened #352 "Adding content between two embeds"
It is not possible to place cursor between two embeds or above the first embed in editor. When user wants to do this, the only way is to remove the embed, write his text and create the embed again

[2016-07-19 09:39] ankur0890 opened #353 "Same Instagram embed only working first time"
Unable to embed the same instagram url twice.

Steps:
1. Embed same url twice
2. first one embed will generate iframe while second embed will not render iframe.
3. Works fine if you embed different urls.

<img width="684" alt="screen shot 2016-07-19 at 3 06 27 pm" src="https://cloud.githubusercontent.com/assets/1263424/16945446/be9cae30-4dc2-11e6-8300-ead30263701c.png">

[2016-07-19 09:46] akashkamboj commented on #201
@okiuim i am having the same issue... how you resolved it?

[2016-07-19 14:17] okiuim commented on #201
@akashkamboj I'm sorry, I don't remember. I build my own stuff instead of the plugin. Something to do with the initialization anyway which I did not do exactly as described in the documentation.

[2016-07-20 14:00] IshavanBaar opened #354 "Custom Addon gives TypeError"
Does the Custom Addon feature still work? I don't understand how to do it. I have tried the [scaffolding code](https://github.com/orthes/medium-editor-insert-plugin/wiki/v2.x-Custom-addons), but the custom addon file (`test.js`) never gets called, and thus doesn't show up.

There is no documentation on how to make it called, but I figured the solution would be to add a line to `core.js`:

[code]
B

[2016-07-20 15:53] orthes commented on #331
I'm fixing this error in #355

[2016-07-20 15:53] #331 closed

[2016-07-21 21:53] george-norris-salesforce opened #357 "How do you import this plugin"
How do you import this plugin (using ES6 syntax)?
`import MediumInsert from 'medium-editor-insert-plugin';`

[2016-07-22 17:29] michalkopanski opened #358 "Button position is incorrect with release 2.3.3"
Hi Pavel (@orthes), we're using this plugin with [medium-editor](https://github.com/yabwe/medium-editor) and ever since release 2.3.3 (more specifically I think it's https://github.com/orthes/medium-editor-insert-plugin/pull/356), we have been getting incorrectly calculated `top` and `left` positions on the UI buttons.

We're using the bootstrap framework and the position of the editor container i

[2016-07-22 20:39] #358 closed

[2016-07-22 20:41] orthes commented on #358
@michalkopanski thanks for reporting this problem. It's always better to test it on real life projects than on a few example applications or demo pages.

I think I fixed your problem. Please try using `master` and see if it helps. If yes, I'll release 2.3.4 with a fix.

[2016-07-23 07:03] chintanbanugaria opened #360 "Editor theme is not applied to the plugin"
Hey,

I am using bootstrap theme for the editor and somehow it is not applied to the plugin.
Here's my code:

[code]

Thanks,
Chintan

[2016-07-25 18:23] #357 closed

[2016-07-25 21:37] george-norris-salesforce opened #361 "Buttons are positioned incorrectly"
![image](https://cloud.githubusercontent.com/assets/17860864/17118364/17b20ef0-5275-11e6-802b-43f0fa673c64.png)

using v2.3.3

[code]

also
after image is uploaded..
![image](https://cloud.githubusercontent.com/assets/17860864/17126892/34df023a-52b6-11e6-8bc3-ee9c8b4c2cb2.png)

this + button is superimposes on the images right bottom side

[2016-07-25 21:39] george-norris-salesforce commented on #361
container (Bootstrap) was setting container to position relative

[2016-07-26 05:19] george-norris-salesforce opened #362 "Disable uploads not working"
[code]

still tried to upload

I'd like to disable all uploading and only display image as base65 in the editor.

Others have set `uploadScript` to false to disable uploads, but that syntax is now deprecated syntax (also doesn't work..I've tried it too).

**also there is an error when adding photos on your demo page**
![image](https://cloud.githubusercontent.com/assets/17860864/17146251/939668d4-5

[2016-07-26 05:26] george-norris-salesforce opened #363 "Disable Captions does not work"
[code]

![image](https://cloud.githubusercontent.com/assets/17860864/17126975/d37d8182-52b6-11e6-8ad2-102a055c5293.png)

[2016-07-26 07:32] ankur0890 opened #364 "Handler when all the images are uploaded"
Is there any handler which I can use indicating that all the multiple images has been uploaded? trieed to use data.source === 'uploadCompleted' but this breaks in slow internet connection. Also unable to find a way to make defer to upload ajax. Any help will be highly appreciated.

[2016-07-26 07:56] #363 closed

[2016-07-27 16:36] KazuyaHara opened #365 "Unintended submit by clicking insert buttons"
When an insert button is clicked, my form data will be submitted and option buttons such as image upload or video embed will not be shown. It's caused by the change of PR #355.
Any smart ideas to solve this?

[2016-07-27 18:19] #365 closed

[2016-07-29 09:37] lipcanu opened #368 "Cannot create Custom Addon"
I am trying to add a new addon. I am working with the provided template, but what is confusing to me is where in the code structure should I link the new addon to the Insert Plugin?

Is it in core.js?

Adding it here gives an error:

[code]

Can you please provide more documentation on that?

[2016-07-29 11:08] chintanbanugaria opened #369 "Call a function when when file upload process starts"
Any idea how to call a custom function when file upload function starts ?
Here's my code. I want to start a loader as soon as file upload process starts and close it when upload is completed.

[code]

Thanks,
Chintan

[2016-08-01 07:42] ankitv93 opened #370 "How to store editor data in database using php"

[2016-08-01 13:22] ankitv93 commented on #370
How can change get image URL?
base64 image encodes show in inspect elements.

[2016-08-05 08:48] #370 closed

[2016-08-08 10:58] orthes commented on #337
As you can see here, https://github.com/orthes/medium-editor-insert-plugin/blob/2.3.3/src/js/images.js#L382, `uploadCompleted` is called only if upload is successful, a server returns correct response, and the uploaded image is successfully loaded (a preview data URI is replaced with the actual image URL).

So to debug this, take a look and see in which of these steps it fails. If a response is re

[2016-08-08 11:01] orthes commented on #351
Duplicate: #350

[2016-08-08 11:01] #351 closed

[2016-08-08 11:02] orthes commented on #352
What solution do you suggest?

[2016-08-08 11:03] orthes commented on #353
This looks like an issue with instagram, not with this plugin. If you think otherwise, feel free to reopen this issue.

[2016-08-08 11:03] #353 closed

[2016-08-08 11:05] orthes commented on #354
You need to insert your new file to html. It looks like you haven't done that. Simple `<script src="PATH TO YOUR test.js"></script>` will do the trick.

[2016-08-08 11:05] #354 closed

[2016-08-08 11:17] orthes commented on #360
https://raw.githubusercontent.com cannot be used as CDN. Maybe there's the problem.

You can use these links instead:

https://npmcdn.com/medium-editor-insert-plugin@2.3.3/dist/js/medium-editor-insert-plugin.min.js
https://npmcdn.com/medium-editor-insert-plugin@2.3.3/dist/css/medium-editor-insert-plugin.min.css

[2016-08-08 11:17] #360 closed

[2016-08-08 11:19] orthes commented on #361
This is not a bug, it's a feature. There were always problems with positioning + button under an image and since + button is connected to the image, I moved it to the right bottom corner.

[2016-08-08 11:19] #361 closed

[2016-08-08 11:23] orthes commented on #368
Probably duplicate: #354

You need to insert your new file to HTML and then initialize like you did.

[2016-08-08 11:23] #368 closed

[2016-08-08 11:30] orthes commented on #369
There are 3 ways how to do it:

1. You can find a callback you want here: https://github.com/blueimp/jQuery-File-Upload/wiki/Options#callback-options and then just add it to `fileUploadOptions` option
2. You can add it to the insert plugin and submit a PR
3. You can extend the plugin and override a function you want:

[code]